static-layout/v1/source/views/classified/classified-detail-print.jade
html
  head
    <title>Artsopolis - Classified Detail Print</title>
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet',  type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", href="../css/print.css", type="text/css")


  body
    .top
        .top-head
            .logo
                a
                    img(src="../assets/uploads/logo.png")
    .wrapper
        .block-detail
          .pic.art
              a
                  img(src="../assets/uploads/9-lives_medium.jpg", alt="9-lives_medium")
          .artist-des
              h2.tt Pineapple Productions ChellyD
              p.meta.auth(style="margin-top:5px")
                | Presented by
                a(href="#", target="_blank")  Organization
              .pt-date
                span Posted: June 10, 2015
              p Type: Commercial Business, Educational, Festivals
              p
                i(class="fa fa-link fa-lg")
                span Website:
                  a(href="#", target="blank") www.susan-abc.com
              p
                  i(class="fa fa-phone fa-lg")&nbsp;
                  span (84) 920256301
              p
                  i(class="fa fa-fax fa-lg")
                  span (84) 920256302
              p
                  i(class="fa fa-map-marker fa-lg")&nbsp;&nbsp;
                  span 361 Ivy Stone Dr, Macon, GA 31220
          .desc
              p 888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art
                   |. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
              p At Mincey’s Musicians Studio, I teach piano to ages 7 to adult and voice to ages 12 to
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
        .h-line
        .block-detail
          a
            i(class="fa fa-info-circle fa-2x")
          span.question MORE ABOUT THIS CLASSIFIED
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
        .h-line
        .block-detail
          a
            i(class="fa fa-external-link fa-2x")
          span.question SOCIAL MEDIA LINKS
          .el-blk
            .social-item-link
              a(href="http://facebook.com", target="_blank") http://facebook.com
            .social-item-link
              a(href="http://twitter.com", target="_blank") http://twitter.com
            .social-item-link
              a(href="http://Instagram.com", target="_blank") http://Instagram.com
            .social-item-link
              a(href="http://linkedin.com", target="_blank") http://linkedin.com

static-layout/v1/public/classified/classified-detail-print.html

<html>
  <head><title>Artsopolis - Classified Detail Print</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/print.css" type="text/css"/>
  </head>
  <body>
    <div class="top">
      <div class="top-head">
        <div class="logo"><a><img src="../assets/uploads/logo.png"/></a></div>
      </div>
    </div>
    <div class="wrapper">
      <div class="block-detail">
        <div class="pic art"><a><img src="../assets/uploads/9-lives_medium.jpg" alt="9-lives_medium"/></a></div>
        <div class="artist-des">
          <h2 class="tt">Pineapple Productions ChellyD</h2>
          <p style="margin-top:5px" class="meta auth">Presented by<a href="#" target="_blank"> Organization</a></p>
          <div class="pt-date"><span>Posted: June 10, 2015</span></div>
          <p>Type: Commercial Business, Educational, Festivals</p>
          <p><i class="fa fa-link fa-lg"></i><span>Website:<a href="#" target="blank">www.susan-abc.com</a></span></p>
          <p><i class="fa fa-phone fa-lg">&nbsp;</i><span>(84) 920256301</span></p>
          <p><i class="fa fa-fax fa-lg"></i><span>(84) 920256302</span></p>
          <p><i class="fa fa-map-marker fa-lg">&nbsp;&nbsp;</i><span>361 Ivy Stone Dr, Macon, GA 31220</span></p>
        </div>
        <div class="desc">
          <p>
            888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art
            . Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
            adult. Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
          </p>
          <p>
            At Mincey’s Musicians Studio, I teach piano to ages 7 to adult and voice to ages 12 to
            adult. Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
            adult. Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
          </p>
        </div>
      </div>
      <div class="h-line"></div>
      <div class="block-detail"><a><i class="fa fa-info-circle fa-2x"></i></a><span class="question">MORE ABOUT THIS CLASSIFIED</span>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
      </div>
      <div class="h-line"></div>
      <div class="block-detail"><a><i class="fa fa-external-link fa-2x"></i></a><span class="question">SOCIAL MEDIA LINKS</span>
        <div class="el-blk">
          <div class="social-item-link"><a href="http://facebook.com" target="_blank">http://facebook.com</a></div>
          <div class="social-item-link"><a href="http://twitter.com" target="_blank">http://twitter.com</a></div>
          <div class="social-item-link"><a href="http://Instagram.com" target="_blank">http://Instagram.com</a></div>
          <div class="social-item-link"><a href="http://linkedin.com" target="_blank">http://linkedin.com</a></div>
        </div>
      </div>
    </div>
  </body>
</html>
