static-layout/v1/source/views/venue/venue-detail-print.jade
html
  head
    <title>Artsopolis - Venue Detail Print</title>
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet',  type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", href="../css/print.css", type="text/css")


  body
    .top
        .top-head
            .logo
                a
                    img(src="../assets/uploads/logo.png")
    .wrapper
        .block-detail
          .pic.art
              a
                  img(src="../assets/uploads/Akoma2012-292x300.jpg", alt="Akoma2012-292x300")
          .artist-des
              h2.tt 888 Monkeys Summer Program
              p Type: Drawing Illustration - Visual Artist: Painting - Visual Artist: Print / Digital Art.
              p
                i(class="fa fa-link fa-lg")
                span Website:
                  a(href="#", target="blank") www.susan-abc.com
              p
                  i(class="fa fa-phone fa-lg")&nbsp;
                  span (84) 920256301
              p
                  i(class="fa fa-fax fa-lg")
                  span (84) 920256302
              p
                  i(class="fa fa-map-marker fa-lg")&nbsp;&nbsp;
                  span 361 Ivy Stone Dr, Macon, GA 31220
          .desc
              p 888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art
                   |. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
              p At Mincey’s Musicians Studio, I teach piano to ages 7 to adult and voice to ages 12 to
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
        .h-line
        .block-detail
          a
            i(class="fa fa-info-circle fa-2x")
          span.question MORE ABOUT THIS VENUE
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
        .h-line
        .block-detail
          .tt-bar
            a
                <i class="fa fa-map-marker fa-2x"></i>
            span Location Info
          .tt-info
            .loc
                p
                    strong(style="font-size:14pt") Albuquerque Little Theatre
                p 224 San Pasquale Avenue SW
                p Albuquerque, NM 87104
            .map
                img(src="../assets/uploads/map.png")
                p
        .h-line
        .block-detail
          a
            i(class="fa fa-external-link fa-2x")
          span.question SOCIAL MEDIA LINKS
          .el-blk
            .social-item-link
              a(href="http://facebook.com", target="_blank") http://facebook.com
            .social-item-link
              a(href="http://twitter.com", target="_blank") http://twitter.com
            .social-item-link
              a(href="http://Instagram.com", target="_blank") http://Instagram.com
            .social-item-link
              a(href="http://linkedin.com", target="_blank") http://linkedin.com

static-layout/v1/public/venue/venue-detail-print.html

<html>
  <head><title>Artsopolis - Venue Detail Print</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/print.css" type="text/css"/>
  </head>
  <body>
    <div class="top">
      <div class="top-head">
        <div class="logo"><a><img src="../assets/uploads/logo.png"/></a></div>
      </div>
    </div>
    <div class="wrapper">
      <div class="block-detail">
        <div class="pic art"><a><img src="../assets/uploads/Akoma2012-292x300.jpg" alt="Akoma2012-292x300"/></a></div>
        <div class="artist-des">
          <h2 class="tt">888 Monkeys Summer Program</h2>
          <p>Type: Drawing Illustration - Visual Artist: Painting - Visual Artist: Print / Digital Art.</p>
          <p><i class="fa fa-link fa-lg"></i><span>Website:<a href="#" target="blank">www.susan-abc.com</a></span></p>
          <p><i class="fa fa-phone fa-lg">&nbsp;</i><span>(84) 920256301</span></p>
          <p><i class="fa fa-fax fa-lg"></i><span>(84) 920256302</span></p>
          <p><i class="fa fa-map-marker fa-lg">&nbsp;&nbsp;</i><span>361 Ivy Stone Dr, Macon, GA 31220</span></p>
        </div>
        <div class="desc">
          <p>
            888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art
            . Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
            adult. Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
          </p>
          <p>
            At Mincey’s Musicians Studio, I teach piano to ages 7 to adult and voice to ages 12 to
            adult. Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
            adult. Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
          </p>
        </div>
      </div>
      <div class="h-line"></div>
      <div class="block-detail"><a><i class="fa fa-info-circle fa-2x"></i></a><span class="question">MORE ABOUT THIS VENUE</span>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
      </div>
      <div class="h-line"></div>
      <div class="block-detail">
        <div class="tt-bar"><a><i class="fa fa-map-marker fa-2x"></i></a><span>Location Info</span></div>
        <div class="tt-info">
          <div class="loc">
            <p><strong style="font-size:14pt">Albuquerque Little Theatre</strong></p>
            <p>224 San Pasquale Avenue SW</p>
            <p>Albuquerque, NM 87104</p>
          </div>
          <div class="map"><img src="../assets/uploads/map.png"/>
            <p></p>
          </div>
        </div>
      </div>
      <div class="h-line"></div>
      <div class="block-detail"><a><i class="fa fa-external-link fa-2x"></i></a><span class="question">SOCIAL MEDIA LINKS</span>
        <div class="el-blk">
          <div class="social-item-link"><a href="http://facebook.com" target="_blank">http://facebook.com</a></div>
          <div class="social-item-link"><a href="http://twitter.com" target="_blank">http://twitter.com</a></div>
          <div class="social-item-link"><a href="http://Instagram.com" target="_blank">http://Instagram.com</a></div>
          <div class="social-item-link"><a href="http://linkedin.com" target="_blank">http://linkedin.com</a></div>
        </div>
      </div>
    </div>
  </body>
</html>
