static-layout/v1/source/views/education/educator-detail-print.jade
html
  head
    <title>Artsopolis - Educator Detail</title>
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet',  type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", href="../css/print.css", type="text/css")
  body
    .top
        .top-head
            .logo
                img(src="../assets/uploads/logo.png")
    .wrapper
        .block-detail
          .pic.art
              a
                  img(src="../assets/uploads/edu-detail.jpg", alt="educator-detail-img")
          .artist-des
              h2.tt 1440 Countdown: Make A Play In 24 Hours
              .desc
                p Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buildings, and grounds in innovative ways that engage people in the creative process. Located in the Saratoga hills, Montalvo occupies a Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buildings, and grounds in innovative ways that engage people in the creative process. Located in the Saratoga hills, Montalvo occupies a
                  | Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types
        .block-detail
            i(class="fa fa-info-circle fa-2x")
            span.question EDUCATOR CONTACT INFO
            .des-print
                p
                  i(class="fa fa-envelope fa-lg")
                  span email@abc.com
                p
                    i(class="fa fa-link fa-lg")
                    span www.susan-abc.com
                p
                    i(class="fa fa-star fa-lg")
                    span blog link
                p
                    i(class="fa fa-facebook  fa-lg")&nbsp;
                    span facebook link
                p
                    i(class="fa fa-twitter fa-lg")
                    span Twitter link
                p
                    i(class="fa fa-camera-retro fa-lg")
                    span Instagram link
                p
                    i(class="fa fa-linkedin-square fa-lg")
                    span  LinkedIn link
                p
                    i(class="fa fa-phone fa-lg")&nbsp;
                    span (84) 920256301
                p
                    i(class="fa fa-map-marker fa-lg")&nbsp;&nbsp;
                    span 361 Ivy Stone Dr, Macon, GA 31220
        .block-detail
            h2.tt 1440 Countdown: Make A Play In 24 Hours
            i(class="fa fa-play fa-lg")
            span.pg-tt Program description
            .des-print
                p Program description Program description Program description Program description Program description Program description Program description Program description
        .block-detail
            i(class="fa fa-play fa-lg")
            span.pg-tt Booking / scheduling contact
            .des-print
                p
                    span
                        i(class="fa fa-fax fa-lg")&nbsp;&nbsp;&nbsp;
                        i(class="fa fa-skype fa-lg")&nbsp;&nbsp; (84) 920256311


                P
                    i(class="fa fa-envelope fa-lg")&nbsp;
                    span email@gmail.com
        .block-detail
            i(class="fa fa-play fa-lg")
            span.pg-tt Program detail
            .des-print
                .item
                    span Artistic discipline:
                    p Dance, Literary Arts, Media, Multi-discipline, Music, Storytelling, Theater, Visual Arts
                .item
                    span Program type:
                    p Professional Development
                .item
                    span Population served:
                    p Pre-K, Kindergarten, Grade 1, Grade 2, Grade 3, Grade 4, Grade 5, Grade 6, Grade 7, Grade 8
                .item
                    span Subject:
                    p Fine Arts, Language Arts, Math, Science
                .item
                    span Bilingual:
                    p No
                .item
                    span Available dates:
                    p
                        i(class="fa fa-calendar fa-lg")
                        span(class="avai-date") 09/03/2014
                .item
                    span Location(s):
                    p Montalvo Arts Center
        .block-detail
            i(class="fa fa-play fa-lg")
            span.pg-tt Other qualifications
            .des-print
                .item
                    p Conducts educational programming for 2 or more years: Yes
                .item
                    p Performs criminal background checks on staff with youth contact: Yes
                .item
                    p Maintains general liability insurance: Yes
                .item
                    p Three letters of recommendation / references available: Yes

static-layout/v1/public/education/educator-detail-print.html

<html>
  <head><title>Artsopolis - Educator Detail</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/print.css" type="text/css"/>
  </head>
  <body>
    <div class="top">
      <div class="top-head">
        <div class="logo"><img src="../assets/uploads/logo.png"/></div>
      </div>
    </div>
    <div class="wrapper">
      <div class="block-detail">
        <div class="pic art"><a><img src="../assets/uploads/edu-detail.jpg" alt="educator-detail-img"/></a></div>
        <div class="artist-des">
          <h2 class="tt">1440 Countdown: Make A Play In 24 Hours</h2>
          <div class="desc">
            <p>
              Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buildings, and grounds in innovative ways that engage people in the creative process. Located in the Saratoga hills, Montalvo occupies a Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buildings, and grounds in innovative ways that engage people in the creative process. Located in the Saratoga hills, Montalvo occupies a
              Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types
            </p>
          </div>
        </div>
      </div>
      <div class="block-detail"><i class="fa fa-info-circle fa-2x"></i><span class="question">EDUCATOR CONTACT INFO</span>
        <div class="des-print">
          <p><i class="fa fa-envelope fa-lg"></i><span>email@abc.com</span></p>
          <p><i class="fa fa-link fa-lg"></i><span>www.susan-abc.com</span></p>
          <p><i class="fa fa-star fa-lg"></i><span>blog link</span></p>
          <p><i class="fa fa-facebook  fa-lg">&nbsp;</i><span>facebook link</span></p>
          <p><i class="fa fa-twitter fa-lg"></i><span>Twitter link</span></p>
          <p><i class="fa fa-camera-retro fa-lg"></i><span>Instagram link</span></p>
          <p><i class="fa fa-linkedin-square fa-lg"></i><span> LinkedIn link</span></p>
          <p><i class="fa fa-phone fa-lg">&nbsp;</i><span>(84) 920256301</span></p>
          <p><i class="fa fa-map-marker fa-lg">&nbsp;&nbsp;</i><span>361 Ivy Stone Dr, Macon, GA 31220</span></p>
        </div>
      </div>
      <div class="block-detail">
        <h2 class="tt">1440 Countdown: Make A Play In 24 Hours</h2><i class="fa fa-play fa-lg"></i><span class="pg-tt">Program description</span>
        <div class="des-print">
          <p>Program description Program description Program description Program description Program description Program description Program description Program description</p>
        </div>
      </div>
      <div class="block-detail"><i class="fa fa-play fa-lg"></i><span class="pg-tt">Booking / scheduling contact</span>
        <div class="des-print">
          <p><span><i class="fa fa-fax fa-lg">&nbsp;&nbsp;&nbsp;</i><i class="fa fa-skype fa-lg">&nbsp;&nbsp; (84) 920256311</i></span></p>
          <P><i class="fa fa-envelope fa-lg">&nbsp;</i><span>email@gmail.com</span></P>
        </div>
      </div>
      <div class="block-detail"><i class="fa fa-play fa-lg"></i><span class="pg-tt">Program detail</span>
        <div class="des-print">
          <div class="item"><span>Artistic discipline:</span>
            <p>Dance, Literary Arts, Media, Multi-discipline, Music, Storytelling, Theater, Visual Arts</p>
          </div>
          <div class="item"><span>Program type:</span>
            <p>Professional Development</p>
          </div>
          <div class="item"><span>Population served:</span>
            <p>Pre-K, Kindergarten, Grade 1, Grade 2, Grade 3, Grade 4, Grade 5, Grade 6, Grade 7, Grade 8</p>
          </div>
          <div class="item"><span>Subject:</span>
            <p>Fine Arts, Language Arts, Math, Science</p>
          </div>
          <div class="item"><span>Bilingual:</span>
            <p>No</p>
          </div>
          <div class="item"><span>Available dates:</span>
            <p><i class="fa fa-calendar fa-lg"></i><span class="avai-date">09/03/2014</span></p>
          </div>
          <div class="item"><span>Location(s):</span>
            <p>Montalvo Arts Center</p>
          </div>
        </div>
      </div>
      <div class="block-detail"><i class="fa fa-play fa-lg"></i><span class="pg-tt">Other qualifications</span>
        <div class="des-print">
          <div class="item">
            <p>Conducts educational programming for 2 or more years: Yes</p>
          </div>
          <div class="item">
            <p>Performs criminal background checks on staff with youth contact: Yes</p>
          </div>
          <div class="item">
            <p>Maintains general liability insurance: Yes</p>
          </div>
          <div class="item">
            <p>Three letters of recommendation / references available: Yes</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
