static-layout/v1/source/views/event/event-detail-print.jade
html
  head
    <title>Artsopolis - Detail Page</title>
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet',  type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", href="../css/print.css", type="text/css")


  body
    .top
        .top-head
            .logo
                a
                    img(src="../assets/uploads/logo.png")

    .wrapper
        .block-detail
            .b-time
                .t
                    span 29
                    span AUG
                .t-th
                    | thru
                .t
                    span 12
                    span SEP
        .pic
            a
                img(src="../assets/uploads/b1.jpg")
        .event-des
            h2.tt GREASE
            p.meta.auth
                | Presented by
                a St. Helena Public Library
                | at
                a Public Library
            p Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
        .desc
            p
            | Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
            | Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
            | Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
            | Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
        .block-detail
            .tt-bar
                    a
                        <i class="fa fa-bars fa-2x"></i>
                    span Admission Info
            .tt-info
                    p $20
                    p Two-item minimum
                    p Ages 18+
                    p
                        strong Phone:
                        | 18001090
        .block-detail
            .tt-bar
                    a
                        <i class="fa fa-clock-o fa-2x"></i>
                    span Dates & Times
            .tt-info
                    p
                        <i class="fa fa-calendar fa-2x"></i>
                        label(height="26px", style="margin-left:10px") Dates:
                        span(style="margin-left:10px") 09/03/2014 - 20/03/2014
                    p
                        label Individual Date & Times:
                    ul(class="ind-time")
                        li
                            | Dec 3, 2014: 3:35 pm - 4 pm (Wed)
                        li
                            | Dec 3, 2014: 3:35 pm - 4 pm (Wed)


        .block-detail
            .tt-bar
                    a
                        <i class="fa fa-map-marker fa-2x"></i>
                    span Location Info
            .tt-info
                    .loc
                        p
                            strong(style="font-size:14pt") Albuquerque Little Theatre
                        p 224 San Pasquale Avenue SW
                        p Albuquerque, NM 87104
                    .map
                        img(src="../assets/uploads/map.png")
                        p

        .block-detail
            .tt-bar
                    a
                        <i class="fa fa-building-o fa-2x"></i>
                    span Venue Info
            .tt-info
                    p 9Lives
                    p 150 Nguyen Campbell, CA 80
        .block-detail
            .tt-bar
                    a
                        <i class="fa fa-book fa-2x"></i>
                    span Accessibility Info
            .tt-info
                    p Below is the information you are about to submit. If you would like to edit any of this information you may return to the previous screen using the “Return to Edit” button below.
                    ul(class="acces-list")
                        li
                            ul
                                li
                                    img(src="../images/2x/img-7.png", width="30px",height="36px")
                                li
                                    label Audio Description
                        li
                            ul
                                li
                                    img(src="../images/2x/img-6.png", width="33px",height="29px")
                                li
                                    label Closed Caption
                        li
                            ul
                                li
                                    img(src="../images/2x/img-5.png", width="33px",height="29px")
                                li
                                    label Large Print
                        li
                            ul
                                li
                                    img(src="../images/2x/img-4.png",width="33px",height="29px")
                                li
                                    label Open Caption

static-layout/v1/public/event/event-detail-print.html

<html>
  <head><title>Artsopolis - Detail Page</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/print.css" type="text/css"/>
  </head>
  <body>
    <div class="top">
      <div class="top-head">
        <div class="logo"><a><img src="../assets/uploads/logo.png"/></a></div>
      </div>
    </div>
    <div class="wrapper">
      <div class="block-detail">
        <div class="b-time">
          <div class="t"><span>29</span><span>AUG</span></div>
          <div class="t-th">thru</div>
          <div class="t"><span>12</span><span>SEP</span></div>
        </div>
      </div>
      <div class="pic"><a><img src="../assets/uploads/b1.jpg"/></a></div>
      <div class="event-des">
        <h2 class="tt">GREASE</h2>
        <p class="meta auth">Presented by<a>St. Helena Public Library</a>at<a>Public Library</a></p>
        <p>Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.</p>
      </div>
      <div class="desc">
        <p></p>Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
        Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
        Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
        Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
      </div>
      <div class="block-detail">
        <div class="tt-bar"><a><i class="fa fa-bars fa-2x"></i></a><span>Admission Info</span></div>
        <div class="tt-info">
          <p>$20</p>
          <p>Two-item minimum</p>
          <p>Ages 18+</p>
          <p><strong>Phone:</strong>18001090</p>
        </div>
      </div>
      <div class="block-detail">
        <div class="tt-bar"><a><i class="fa fa-clock-o fa-2x"></i></a><span>Dates & Times</span></div>
        <div class="tt-info">
          <p><i class="fa fa-calendar fa-2x"></i>
            <label height="26px" style="margin-left:10px">Dates:</label><span style="margin-left:10px">09/03/2014 - 20/03/2014</span>
          </p>
          <p>
            <label>Individual Date & Times:</label>
          </p>
          <ul class="ind-time">
            <li>Dec 3, 2014: 3:35 pm - 4 pm (Wed)</li>
            <li>Dec 3, 2014: 3:35 pm - 4 pm (Wed)</li>
          </ul>
        </div>
      </div>
      <div class="block-detail">
        <div class="tt-bar"><a><i class="fa fa-map-marker fa-2x"></i></a><span>Location Info</span></div>
        <div class="tt-info">
          <div class="loc">
            <p><strong style="font-size:14pt">Albuquerque Little Theatre</strong></p>
            <p>224 San Pasquale Avenue SW</p>
            <p>Albuquerque, NM 87104</p>
          </div>
          <div class="map"><img src="../assets/uploads/map.png"/>
            <p></p>
          </div>
        </div>
      </div>
      <div class="block-detail">
        <div class="tt-bar"><a><i class="fa fa-building-o fa-2x"></i></a><span>Venue Info</span></div>
        <div class="tt-info">
          <p>9Lives</p>
          <p>150 Nguyen Campbell, CA 80</p>
        </div>
      </div>
      <div class="block-detail">
        <div class="tt-bar"><a><i class="fa fa-book fa-2x"></i></a><span>Accessibility Info</span></div>
        <div class="tt-info">
          <p>Below is the information you are about to submit. If you would like to edit any of this information you may return to the previous screen using the “Return to Edit” button below.</p>
          <ul class="acces-list">
            <li>
              <ul>
                <li><img src="../images/2x/img-7.png" width="30px" height="36px"/></li>
                <li>
                  <label>Audio Description</label>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li><img src="../images/2x/img-6.png" width="33px" height="29px"/></li>
                <li>
                  <label>Closed Caption</label>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li><img src="../images/2x/img-5.png" width="33px" height="29px"/></li>
                <li>
                  <label>Large Print</label>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li><img src="../images/2x/img-4.png" width="33px" height="29px"/></li>
                <li>
                  <label>Open Caption</label>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
