static-layout/v1/source/views/blocks/art-list.jade
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span One page
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span Paginated
.el-blk
    nav.type
        ul
            li
                a(href="art-thumb.html")
                    i(class="fa fa-th fa-2x")
            li.current
                a
                    i(class="fa fa-bars fa-2x")
.search-bkl
    nav(class="search-classified-list")
        li
            .search-img
                    a(href="art-detail.html")
                        img(src="../assets/uploads/grape-in-fog-venue_medium.jpg")
            .info-content
                .search-info
                    a(href="art-detail.html")
                        span.ev-tt Benjamin Harrison
                    .career Category: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a>
                    .career Location: <a class="link", href="#">Broad Ripple Village</a>, <a class="link", href="#">Canal and White River State Park</a>, <a class="link", href="#">Carmel Arts District</a>
                    .career Collection: <a class="link", href="#">46 for XLVI</a>, <a class="link", href="#">Arts Council of Indianapolis</a>, <a class="link", href="#">City of Indianapolis</a>
        li
            .search-img
                    a(href="art-detail.html")
                        img(src="../assets/uploads/cantor-300x300.jpg")
            .info-content
                .search-info
                    a(href="art-detail.html")
                        span.ev-tt Benjamin Harrison
                    .career Category: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a>
                    .career Location: <a class="link", href="#">Broad Ripple Village</a>, <a class="link", href="#">Canal and White River State Park</a>, <a class="link", href="#">Carmel Arts District</a>
                    .career Collection: <a class="link", href="#">46 for XLVI</a>, <a class="link", href="#">Arts Council of Indianapolis</a>, <a class="link", href="#">City of Indianapolis</a>
        li
            .search-img
                    a(href="art-detail.html")
                        img(src="../assets/uploads/Akoma2012-292x300.jpg")
            .info-content
                .search-info
                    a(href="art-detail.html")
                        span.ev-tt Benjamin Harrison
                    .career Category: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a>
                    .career Location: <a class="link", href="#">Broad Ripple Village</a>, <a class="link", href="#">Canal and White River State Park</a>, <a class="link", href="#">Carmel Arts District</a>
                    .career Collection: <a class="link", href="#">46 for XLVI</a>, <a class="link", href="#">Arts Council of Indianapolis</a>, <a class="link", href="#">City of Indianapolis</a>
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >

static-layout/v1/public/blocks/art-list.html

<div class="search-bkl search-bkl-paging">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
  <nav class="pg">
    <li class="txt"><span>Show:</span></li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="op" class="rad-pg"/><span class="pg"></span><span>One page</span>
      </div>
    </li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="pg" checked="checked" class="rad-pg"/><span class="pg"></span><span>Paginated</span>
      </div>
    </li>
  </nav>
</div>
<div class="el-blk">
  <nav class="type">
    <ul>
      <li><a href="art-thumb.html"><i class="fa fa-th fa-2x"></i></a></li>
      <li class="current"><a><i class="fa fa-bars fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<div class="search-bkl">
  <nav class="search-classified-list">
    <li>
      <div class="search-img"><a href="art-detail.html"><img src="../assets/uploads/grape-in-fog-venue_medium.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="art-detail.html"><span class="ev-tt">Benjamin Harrison</span></a>
          <div class="career">Category: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a></div>
          <div class="career">Location: <a class="link", href="#">Broad Ripple Village</a>, <a class="link", href="#">Canal and White River State Park</a>, <a class="link", href="#">Carmel Arts District</a></div>
          <div class="career">Collection: <a class="link", href="#">46 for XLVI</a>, <a class="link", href="#">Arts Council of Indianapolis</a>, <a class="link", href="#">City of Indianapolis</a></div>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="art-detail.html"><img src="../assets/uploads/cantor-300x300.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="art-detail.html"><span class="ev-tt">Benjamin Harrison</span></a>
          <div class="career">Category: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a></div>
          <div class="career">Location: <a class="link", href="#">Broad Ripple Village</a>, <a class="link", href="#">Canal and White River State Park</a>, <a class="link", href="#">Carmel Arts District</a></div>
          <div class="career">Collection: <a class="link", href="#">46 for XLVI</a>, <a class="link", href="#">Arts Council of Indianapolis</a>, <a class="link", href="#">City of Indianapolis</a></div>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="art-detail.html"><img src="../assets/uploads/Akoma2012-292x300.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="art-detail.html"><span class="ev-tt">Benjamin Harrison</span></a>
          <div class="career">Category: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a></div>
          <div class="career">Location: <a class="link", href="#">Broad Ripple Village</a>, <a class="link", href="#">Canal and White River State Park</a>, <a class="link", href="#">Carmel Arts District</a></div>
          <div class="career">Collection: <a class="link", href="#">46 for XLVI</a>, <a class="link", href="#">Arts Council of Indianapolis</a>, <a class="link", href="#">City of Indianapolis</a></div>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>
