static-layout/v1/source/views/blocks/artist-thumb.jade
.search-tt
    p Search "
        a
            |a
        |" (06 results)
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span.tx One page
         li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span.tx Paginated
.el-blk
    nav.type
        ul
            li.current
                a
                    i(class="fa fa-th fa-2x")
            li
                a(href="artist-list.html")
                    i(class="fa fa-bars fa-2x")
.search-bkl
    nav(class="search-artist-thumb")
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Deborah Mills Thackrey
                    .career
                        |Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/placeholder.png")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career
                        |Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/artist-img3.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career
                        |Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/artist-img4.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career
                        |Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/artist-img1.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career
                        |Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/artist-img2.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career
                        |Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >

static-layout/v1/public/blocks/artist-thumb.html

<div class="search-tt">
  <p>Search "<a>a</a>" (06 results)</p>
</div>
<div class="search-bkl search-bkl-paging">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
  <nav class="pg">
    <li class="txt"><span>Show:</span></li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="op" class="rad-pg"/><span class="pg"></span><span class="tx">One page</span>
      </div>
    </li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="pg" checked="checked" class="rad-pg"/><span class="pg"></span><span class="tx">Paginated</span>
      </div>
    </li>
  </nav>
</div>
<div class="el-blk">
  <nav class="type">
    <ul>
      <li class="current"><a><i class="fa fa-th fa-2x"></i></a></li>
      <li><a href="artist-list.html"><i class="fa fa-bars fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<div class="search-bkl">
  <nav class="search-artist-thumb">
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Deborah Mills Thackrey</span></a>
          <div class="career">Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/placeholder.png"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/artist-img3.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/artist-img4.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/artist-img1.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/artist-img2.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist Drawing Illustration Visual Artist Drawing Illustration Visual Artist</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>
