static-layout/v1/source/views/blocks/artist_search.jade
.r-blk.r-search
    h3.r-ttl  
        i.fa.fa-search.fa-flip-horizontal.fa-lg      
        span Find An Artist     
    .r-blk-ct
        form(method="get", id="searchevent", action="", class="form-event")
            .clearfix
                input(type="text", class="inp inp-txt", placeholder="Search by keyword, organization or venue")
                button(type="button", class="btn btn-l") GO
            p.t-r 
                a(href="#", class='t-red') Advanced Search » 
            .s-rw
                label Seach by date:
                .calendar-ipt.clearfix                   
                    input(type="text", size="12", id="c-s", class="inp inp-txt caldr", placeholder="Start")
                    input(type="text", size="12", id="c-e", class="inp inp-txt caldr", placeholder="End")
                    button(type="button", class="btn btn-l") GO
                    i.fa.fa-calendar.fa-lg.ico-s
                    i.fa.fa-calendar.fa-lg.ico-e   
            .s-rw
                label Search by date range:
                .lst-lik
                    a(href="#", class="today") Today
                    a(href="#", class="tomorrow") Tomorrow
                    a(href="#", class="weekend") Weekend
                    span.no-line next
                    a(href="#", class="seven" ) 7
                    a(href="#", class="fourteen" ) 14
                    a(href="#", class="thirsty" ) 30
            .sub-blk
                p.fl Do you have an event you’d like to have listed?
                button(type="button", class="btn btn-l lgr fr") SUBMIT A LISTING

static-layout/v1/public/blocks/artist_search.html

<div class="r-blk r-search">
  <h3 class="r-ttl"> <i class="fa fa-search fa-flip-horizontal fa-lg">     </i><span>Find An Artist     </span></h3>
  <div class="r-blk-ct">
    <form method="get" id="searchevent" action="" class="form-event">
      <div class="clearfix">
        <input type="text" placeholder="Search by keyword, organization or venue" class="inp inp-txt"/>
        <button type="button" class="btn btn-l">GO</button>
      </div>
      <p class="t-r"> <a href="#" class="t-red">Advanced Search » </a></p>
      <div class="s-rw">
        <label>Seach by date:</label>
        <div class="calendar-ipt clearfix">                  
          <input type="text" size="12" id="c-s" placeholder="Start" class="inp inp-txt caldr"/>
          <input type="text" size="12" id="c-e" placeholder="End" class="inp inp-txt caldr"/>
          <button type="button" class="btn btn-l">GO</button><i class="fa fa-calendar fa-lg ico-s"></i><i class="fa fa-calendar fa-lg ico-e">  </i>
        </div>
      </div>
      <div class="s-rw">
        <label>Search by date range:</label>
        <div class="lst-lik"><a href="#" class="today">Today</a><a href="#" class="tomorrow">Tomorrow</a><a href="#" class="weekend">Weekend</a><span class="no-line">next</span><a href="#" class="seven">7</a><a href="#" class="fourteen">14</a><a href="#" class="thirsty">30</a></div>
      </div>
      <div class="sub-blk">
        <p class="fl">Do you have an event you’d like to have listed?</p>
        <button type="button" class="btn btn-l lgr fr">SUBMIT A LISTING</button>
      </div>
    </form>
  </div>
</div>
