static-layout/v1/public/blocks/blog_page.html

<div class="blog-bkl">
  <nav class="blog-list">
    <li>
      <div class="blog-tt">
        <div class="blog-date"><a>Jan 30</a></div>
        <div class="blog-name">
          <div class="name-txt"><a href="blog-detail.html">Wednesday Brown Bag Lunch - Beauty in Batik</a></div>
        </div>
        <div class="blog-like"><a href="#" class="likeicon"><i class="fa fa-thumbs-o-up fa-lg"></i></a>
          <div class="num">
            <label>25</label>
          </div>
        </div>
      </div>
      <div class="b-share-cat"><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a></div>
      <div class="blog-category">
        <div class="cate-blk"><i class="fa fa-user fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">St. Helena Public Library</a><a class="slash">/</a></div>
        <div class="cate-blk"><i class="fa fa-folder-open fa-lg">&nbsp;&nbsp;</i><a href="#">Community</a><a class="coma">,</a><a href="#">News</a><a class="slash">/</a></div>
        <div class="cate-blk"><i class="fa fa-comment fa-lg">&nbsp;&nbsp;</i><a href="#" class="cm-num">(02)</a><a href="#">Comments</a></div>
      </div>
      <div class="blog-content">
        <div class="blog-pic"><img src="../assets/uploads/blog-thumb.jpg"/></div>
        <div class="blog-text">
          <p>This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!<a href="javascript:;" class="vmore">View more</a></p>
        </div>
      </div>
      <div class="blog-tags">
        <label>Tags:</label><a href="#">News</a>,<a href="#">Audio</a>,<a href="#">Video</a>
      </div>
    </li>
    <li>
      <div class="blog-tt">
        <div class="blog-date"><a>Jan 30</a>
          <div class="blog-seperate"></div>
        </div>
        <div class="blog-name">
          <div class="name-txt"><a href="blog-detail.html">Wednesday Brown Bag Lunch - Beauty in Batik</a></div>
        </div>
        <div class="blog-like"><a href="#" class="likeicon"><i class="fa fa-thumbs-o-up fa-lg"></i></a>
          <div class="num">
            <label>25</label>
          </div>
        </div>
      </div>
      <div class="b-share-cat"><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a></div>
      <div class="blog-category">
        <div class="cate-blk"><i class="fa fa-user fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">St. Helena Public Library</a><a class="slash">/</a></div>
        <div class="cate-blk"><i class="fa fa-folder-open fa-lg">&nbsp;&nbsp;</i><a href="#">Community</a><a class="coma">,</a><a href="#">News</a><a class="slash">/</a></div>
        <div class="cate-blk"><i class="fa fa-comment fa-lg">&nbsp;&nbsp;</i><a href="#" class="cm-num">(02)</a><a href="#">Comments</a></div>
      </div>
      <div class="blog-content">
        <div class="blog-pic"><img src="../assets/uploads/blog-thumb.jpg"/></div>
        <div class="blog-text">
          <p>This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!<a href="javascript:;" class="vmore">View more</a></p>
        </div>
      </div>
      <div class="blog-tags">
        <label>Tags:</label><a href="#">News</a>,<a href="#">Audio</a>,<a href="#">Video</a>
      </div>
    </li>
  </nav>
</div>
<div class="blog-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>

static-layout/v1/source/views/blocks/blog_page.jade
.blog-bkl
    nav(class="blog-list")
        li
            .blog-tt
                .blog-date
                    a Jan 30
                .blog-name
                    .name-txt
                        a(href="blog-detail.html")
                            |Wednesday Brown Bag Lunch - Beauty in Batik
                .blog-like
                    a.likeicon(href="#")
                        i(class="fa fa-thumbs-o-up fa-lg")
                    .num
                        label
                            |25
            .b-share-cat
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc google")
                     i.fa.fa-google-plus
            .blog-category
                .cate-blk
                    i(class="fa fa-user fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | St. Helena Public Library
                    a.slash
                        | /
                .cate-blk
                    i(class="fa fa-folder-open fa-lg")&nbsp;&nbsp;
                    a(href="#")
                        | Community
                    a.coma
                        | ,
                    a(href="#")
                        | News
                    a.slash
                        | /
                .cate-blk
                    i(class="fa fa-comment fa-lg")&nbsp;&nbsp;
                    a.cm-num(href="#")
                        | (02)
                    a(href="#")
                        | Comments

            .blog-content
                .blog-pic
                    img(src="../assets/uploads/blog-thumb.jpg")
                .blog-text
                    p This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
                        a(class="vmore", href="javascript:;")
                            |View more

            .blog-tags
                label Tags:
                a(href="#")
                   | News
                |,
                a(href="#")
                   | Audio
                |,
                a(href="#")
                   | Video
        li
            .blog-tt
                .blog-date
                    a Jan 30
                    .blog-seperate
                .blog-name
                    .name-txt
                        a(href="blog-detail.html")
                            |Wednesday Brown Bag Lunch - Beauty in Batik
                .blog-like
                    a.likeicon(href="#")
                        i(class="fa fa-thumbs-o-up fa-lg")
                    .num
                        label
                            |25
            .b-share-cat
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc google")
                     i.fa.fa-google-plus
            .blog-category
                .cate-blk
                    i(class="fa fa-user fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | St. Helena Public Library
                    a.slash
                        | /
                .cate-blk
                    i(class="fa fa-folder-open fa-lg")&nbsp;&nbsp;
                    a(href="#")
                        | Community
                    a.coma
                        | ,
                    a(href="#")
                        | News
                    a.slash
                        | /
                .cate-blk
                    i(class="fa fa-comment fa-lg")&nbsp;&nbsp;
                    a.cm-num(href="#")
                        | (02)
                    a(href="#")
                        | Comments
            .blog-content
                .blog-pic
                    img(src="../assets/uploads/blog-thumb.jpg")
                .blog-text
                    p This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
                        a(class="vmore", href="javascript:;")
                            |View more

            .blog-tags
                label Tags:
                a(href="#")
                   | News
                |,
                a(href="#")
                   | Audio
                |,
                a(href="#")
                   | Video
.blog-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
