static-layout/v1/public/blocks/blog_detail.html

<div class="blog-bkl">
  <nav class="blog-list">
    <li>
      <div class="blog-tt">
        <div class="blog-date"></div>
        <div class="blog-name">
          <div class="namedetail-txt">Wednesday Brown Bag Lunch - Beauty in Batik</div>
        </div>
        <div class="blog-like"><a href="#" class="likeicon"><i class="fa fa-thumbs-o-up fa-lg"></i></a>
          <div class="num">
            <label>25</label>
          </div>
        </div>
      </div>
      <div class="b-share-cat"><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a></div>
      <div class="blog-category">
        <div class="cate-blk"><i class="fa fa-user fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">St. Helena Public Library</a><a class="slash">/</a></div>
        <div class="cate-blk"><i class="fa fa-comment fa-lg">&nbsp;&nbsp;</i><a href="#" class="cm-num">(02)</a><a href="#">Comments</a></div>
      </div>
      <div class="blog-content">
        <div class="blog-pic-detail"><img src="../assets/uploads/blog-detail.jpg" class="detail"/></div>
        <div class="blog-pic-detail"><img src="../assets/uploads/heli.jpeg" class="detail"/></div>
        <div class="blog-pic-detail"><img src="../assets/uploads/Suzuki.jpg" class="detail"/></div>
        <div class="blog-text-detail">
          <p>
            This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
            This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
            This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
          </p>
        </div>
      </div>
      <div class="blog-tags">
        <label>Tags:</label><a href="#">News</a>,<a href="#">Audio</a>,<a href="#">Video</a>
      </div>
    </li>
  </nav>
</div>
<div class="blog-bkl">
  <div class="comment-box">
    <p class="cment"><a>(02)</a>comments</p>
    <ul class="comment-list">
      <li class="comment-item">
        <div class="comment-pic"><img alt="avatr" src="../assets/uploads/a1.jpg"/></div>
        <div class="comment-ctent">
          <label class="author-n">Brenda Wilson</label>
          <div class="comment-content comment">I would like to look at you boots but cant get prices</div>
          <p class="t-l"><a href="#" class="comment-reply-link"><i class="fa fa-reply-all"></i>Reply</a></p>
        </div>
      </li>
      <li class="comment-item">
        <div class="comment-pic"><img alt="avatr" src="../assets/uploads/a1.jpg"/></div>
        <div class="comment-ctent">
          <label class="author-n">Brenda Wilson</label>
          <div class="comment-content comment">I would like to look at you boots but cant get prices</div>
          <p class="t-l"><a href="#" class="comment-reply-link"><i class="fa fa-reply-all"></i>Reply</a></p>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="blog-bkl">
  <div class="cm-form">
    <h3>Post a Comment</h3>
    <form method="post" action="#" id="commentform" novalidate="" class="comment-form">
      <div class="ipt">
        <div class="inp-half">
          <input type="text" placeholder="Your name" class="inp-txt-event"/>
        </div>
        <div class="inp-half">
          <input type="text" placeholder="Your email" class="inp-txt-event"/>
        </div>
      </div>
      <div class="ipt">
        <textarea placeholder="Comment" class="inp-desc-event"></textarea>
      </div>
      <p class="t-l b-btn aln-l">
        <input type="submit" name="submit" value="Post Comment" tabindex="4" class="btn btn-b"/>
      </p>
    </form>
  </div>
</div>

static-layout/v1/source/views/blocks/blog_detail.jade
.blog-bkl
    nav(class="blog-list")
        li
            .blog-tt
                .blog-date
                .blog-name
                    .namedetail-txt Wednesday Brown Bag Lunch - Beauty in Batik
                .blog-like
                    a.likeicon(href="#")
                        i(class="fa fa-thumbs-o-up fa-lg")
                    .num
                        label
                            |25
            .b-share-cat
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc google")
                     i.fa.fa-google-plus
            .blog-category
                .cate-blk
                    i(class="fa fa-user fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | St. Helena Public Library
                    a.slash
                        | /
                .cate-blk
                    i(class="fa fa-comment fa-lg")&nbsp;&nbsp;
                    a.cm-num(href="#")
                        | (02)
                    a(href="#")
                        | Comments

            .blog-content
                .blog-pic-detail
                    img.detail(src="../assets/uploads/blog-detail.jpg")
                .blog-pic-detail
                    img.detail(src="../assets/uploads/heli.jpeg")
                .blog-pic-detail
                    img.detail(src="../assets/uploads/Suzuki.jpg")
                .blog-text-detail
                    p This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
                        |This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
                        |This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
            .blog-tags
                label Tags:
                a(href="#")
                   | News
                |,
                a(href="#")
                   | Audio
                |,
                a(href="#")
                   | Video
.blog-bkl
    .comment-box
        p.cment
            a (02)
            | comments
        ul(class="comment-list")
                li(class="comment-item")
                    .comment-pic
                        img(alt="avatr", src="../assets/uploads/a1.jpg")
                    .comment-ctent
                            label.author-n
                                | Brenda Wilson
                            .comment-content.comment
                                | I would like to look at you boots but cant get prices
                            p.t-l
                                a(class="comment-reply-link", href="#")
                                    i(class="fa fa-reply-all")
                                    |Reply

                li(class="comment-item")
                    .comment-pic
                        img(alt="avatr", src="../assets/uploads/a1.jpg")
                    .comment-ctent
                            label.author-n
                                | Brenda Wilson
                            .comment-content.comment
                                | I would like to look at you boots but cant get prices
                            p.t-l
                                a(class="comment-reply-link", href="#")
                                    i(class="fa fa-reply-all")
                                    |Reply
.blog-bkl
    .cm-form
                h3 Post a Comment
                form( method="post", action="#", id="commentform", class="comment-form", novalidate="")
                    .ipt
                        .inp-half
                            input(type="text", class="inp-txt-event", placeholder="Your name")
                        .inp-half
                            input(type="text", class="inp-txt-event", placeholder="Your email")
                    .ipt
                        textarea(class="inp-desc-event", placeholder="Comment")

                    p.t-l.b-btn.aln-l
                        input(type="submit", name="submit", class="btn btn-b", value="Post Comment", tabindex="4")
