static-layout/v1/public/blocks/business-list2.html

<div class="search-tt">
  <p>Search "<a>a</a>" (06 result)</p>
</div>
<div class="search-bkl search-bkl-paging">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
  <nav class="pg">
    <li class="txt"><span>Show:</span></li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="op" class="rad-pg"/><span class="pg"></span><span>One page</span>
      </div>
    </li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="pg" checked="checked" class="rad-pg"/><span class="pg"></span><span>Paginated</span>
      </div>
    </li>
  </nav>
</div>
<div class="el-blk">
  <nav class="type">
    <ul>
      <li><a href="artist-thumb.html"><i class="fa fa-th fa-2x"></i></a></li>
      <li class="current"><a><i class="fa fa-bars fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<div class="search-bkl business-search-blk-2">
  <h3 class="ttl-bs-list">restaurant listings</h3>
  <nav class="search-artist-list business-search-list-2 clearfix">
    <li>
      <div class="summary-content-bs clearfix">
        <div class="search-img"><a href="#"><img src="../assets/uploads/artist-img5.jpg"/></a></div>
        <div class="info-content">
          <div class="search-info"><a href="#"><span class="ev-tt">Birk's</span></a>
            <div class="s-country">Cuisine:<a href="#">American</a></div>
            <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div>
          </div>
        </div>
      </div>
      <div class="summary-contact-bs clearfix">
        <div class="contact-address-bs"><span class="lbl-contact">address:</span><span class="contact-txt">3955 Freedom Circle, Santa Clara CA 95054</span></div>
        <div class="contact-social-info-bs clearfix">
          <div class="contact-item-social-bs"><span class="lbl-contact">tel:</span><span class="contact-txt">408.980.6400</span></div>
          <div class="contact-item-social-bs"><span class="lbl-contact">website:</span><a href="#" class="contact-txt-link">Birk's Restaurant</a></div>
        </div>
      </div>
    </li>
    <li>
      <div class="summary-content-bs clearfix">
        <div class="search-img"><a href="#"><img src="../assets/uploads/artist-img4.jpg"/></a></div>
        <div class="info-content">
          <div class="search-info"><a href="#"><span class="ev-tt">Burma ruby</span></a>
            <div class="s-country">Cuisine:<a href="#">American</a></div>
            <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div>
          </div>
        </div>
      </div>
      <div class="summary-contact-bs clearfix">
        <div class="contact-address-bs"><span class="lbl-contact">address:</span><span class="contact-txt">445 Emerson St., Palo Alto CA 94301</span></div>
        <div class="contact-social-info-bs clearfix">
          <div class="contact-item-social-bs"><span class="lbl-contact">tel:</span><span class="contact-txt">650-285-2270</span></div>
          <div class="contact-item-social-bs"><span class="lbl-contact">website:</span><a href="#" class="contact-txt-link">Burma Ruby</a></div>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>

static-layout/v1/source/views/blocks/business-list2.jade
.search-tt
    p Search "
        a
            |a
        |" (06 result)
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span One page
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span Paginated

.el-blk
    nav.type
        ul
            li
                a(href="artist-thumb.html")
                    i(class="fa fa-th fa-2x")
            li.current
                a
                    i(class="fa fa-bars fa-2x")
.search-bkl.business-search-blk-2
    h3.ttl-bs-list restaurant listings
    nav(class="search-artist-list business-search-list-2 clearfix")
        li
            .summary-content-bs.clearfix
                .search-img
                        a(href="#")
                            img(src="../assets/uploads/artist-img5.jpg")
                .info-content
                    .search-info
                        a(href="#")
                            span.ev-tt Birk's
                        .s-country
                            | Cuisine:
                            a(href="#") American
                        .s-desc
                            | Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
            .summary-contact-bs.clearfix
                div.contact-address-bs
                    span.lbl-contact address:
                    span.contact-txt 3955 Freedom Circle, Santa Clara CA 95054
                div.contact-social-info-bs.clearfix
                    .contact-item-social-bs
                        span.lbl-contact tel:
                        span.contact-txt 408.980.6400
                    .contact-item-social-bs
                        span.lbl-contact website:
                        a.contact-txt-link(href="#") Birk's Restaurant
        li
            .summary-content-bs.clearfix
                .search-img
                        a(href="#")
                            img(src="../assets/uploads/artist-img4.jpg")
                .info-content
                    .search-info
                        a(href="#")
                            span.ev-tt Burma ruby
                        .s-country
                            | Cuisine:
                            a(href="#") American
                        .s-desc
                            | Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
            .summary-contact-bs.clearfix
                div.contact-address-bs
                    span.lbl-contact address:
                    span.contact-txt 445 Emerson St., Palo Alto CA 94301
                div.contact-social-info-bs.clearfix
                    .contact-item-social-bs
                        span.lbl-contact tel:
                        span.contact-txt 650-285-2270
                    .contact-item-social-bs
                        span.lbl-contact website:
                        a.contact-txt-link(href="#") Burma Ruby

.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
