static-layout/v1/source/views/blocks/classified-list-table.jade
.blog-bkl
    .b-share-cat
        label
        a(href="#", target="_blank", class="sc fb")
            i.fa.fa-facebook
        a(href="#", target="_blank", class="sc tw") 
            i.fa.fa-twitter
        a(href="#", target="_blank", class="sc google")
            i.fa.fa-google-plus
        a(href="#", target="_blank", class="sc google")
            i.fa.fa-pinterest-square
        a(href="#", target="_blank", class="sc lk") 
            i.fa.fa-linkedin
        a(href="#", id="print", class="pt print")
            i.fa.fa-print
        a(href="#", id="email", class="pt email")
            i.fa.fa-envelope-o
// END: blk blog
.blk-show-list
    ul.list-show
        label.ttl-list
            | Showing:
            span &nbsp;All
        li
            a(href="#") event 1
        li
            a(href="#") vutest
        li
            a(href="#") test sent mail
        li
            a(href="#") 123 verified
        li
            a(href="#") Smith's
        li
            a(href="#") D-region 3
        li
            a(href="#") Event Test 2340
// END : blk showing all list
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span One page 
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span Paginated
.el-blk
    nav.type
        ul
            li
                a(href="#")
                    i(class="fa fa-table fa-2x")
            li
                a(href="organization-thumb.html")
                    i(class="fa fa-th fa-2x")
            li.current
                a
                    i(class="fa fa-bars fa-2x")
// END : blk search paging
.blk-list-table
    .table-info
        table.table
            thead
                tr.bg-gray
                    th
                        a(href="#") posted
                        a(href="#", class="icon-sort ic-sort-up")
                            i(class="fa fa-caret-up")
                        a(href="#", class="icon-sort ic-sort-down")
                            i(class="fa fa-caret-down")
                    th.ttl-special
                        a(href="#") title
                        a(href="#", class="icon-sort ic-sort-up")
                            i(class="fa fa-caret-up")
                        a(href="#", class="icon-sort ic-sort-down")
                            i(class="fa fa-caret-down")
                    th
                        a(href="#") organization
                        a(href="#", class="icon-sort ic-sort-up")
                            i(class="fa fa-caret-up")
                        a(href="#", class="icon-sort ic-sort-down")
                            i(class="fa fa-caret-down")
                    th
                        a(href="#") city
                        a(href="#", class="icon-sort ic-sort-up")
                            i(class="fa fa-caret-up")
                        a(href="#", class="icon-sort ic-sort-down")
                            i(class="fa fa-caret-down")
                    th
                        a(href="#") deadline
                        a(href="#", class="icon-sort ic-sort-up")
                            i(class="fa fa-caret-up")
                        a(href="#", class="icon-sort ic-sort-down")
                            i(class="fa fa-caret-down")
            tbody
                tr 
                    td 06/21/16
                    td 
                        a(href="#") event 1
                    td Young Picassos Houston
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") test sent mail
                    td City of Austin: Austin-Bergstrom International Airport
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") 123 verified
                    td Young Picassos Houston
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") FE Smith's! - test
                    td City of Austin: Austin-Bergstrom International Airport
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") Add New Event Happy birthday...
                    td Young Picassos Houston
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") Auto Spotlight
                    td City of Austin: Austin-Bergstrom International Airport
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") New event...
                    td Young Picassos Houston
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") Event Test 2340
                    td City of Austin: Austin-Bergstrom International Airport
                    td St. AR Center Park  
                    td 06/25/16
// END : Listing table info
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
// END : blk search paging
.load-more.b-btn(id="load-more", style="display:none")
    a(href="#", class="btn-b arw") SHOW MORE

static-layout/v1/public/blocks/classified-list-table.html

<div class="blog-bkl">
  <div class="b-share-cat">
    <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"> <i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"> <i class="fa fa-linkedin"></i></a><a href="#" id="print" class="pt print"><i class="fa fa-print"></i></a><a href="#" id="email" class="pt email"><i class="fa fa-envelope-o"></i></a>
  </div>
</div>
<!-- END: blk blog-->
<div class="blk-show-list">
  <ul class="list-show">
    <label class="ttl-list">Showing:<span>&nbsp;All</span></label>
    <li><a href="#">event 1</a></li>
    <li><a href="#">vutest</a></li>
    <li><a href="#">test sent mail</a></li>
    <li><a href="#">123 verified</a></li>
    <li><a href="#">Smith's</a></li>
    <li><a href="#">D-region 3</a></li>
    <li><a href="#">Event Test 2340</a></li>
  </ul>
</div>
<!-- END : blk showing all list-->
<div class="search-bkl search-bkl-paging">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
  <nav class="pg">
    <li class="txt"><span>Show:</span></li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="op" class="rad-pg"/><span class="pg"></span><span>One page </span>
      </div>
    </li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="pg" checked="checked" class="rad-pg"/><span class="pg"></span><span>Paginated</span>
      </div>
    </li>
  </nav>
</div>
<div class="el-blk">
  <nav class="type">
    <ul>
      <li><a href="#"><i class="fa fa-table fa-2x"></i></a></li>
      <li><a href="organization-thumb.html"><i class="fa fa-th fa-2x"></i></a></li>
      <li class="current"><a><i class="fa fa-bars fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<!-- END : blk search paging-->
<div class="blk-list-table">
  <div class="table-info">
    <table class="table">
      <thead>
        <tr class="bg-gray">
          <th><a href="#">posted</a><a href="#" class="icon-sort ic-sort-up"><i class="fa fa-caret-up"></i></a><a href="#" class="icon-sort ic-sort-down"><i class="fa fa-caret-down"></i></a></th>
          <th class="ttl-special"><a href="#">title</a><a href="#" class="icon-sort ic-sort-up"><i class="fa fa-caret-up"></i></a><a href="#" class="icon-sort ic-sort-down"><i class="fa fa-caret-down"></i></a></th>
          <th><a href="#">organization</a><a href="#" class="icon-sort ic-sort-up"><i class="fa fa-caret-up"></i></a><a href="#" class="icon-sort ic-sort-down"><i class="fa fa-caret-down"></i></a></th>
          <th><a href="#">city</a><a href="#" class="icon-sort ic-sort-up"><i class="fa fa-caret-up"></i></a><a href="#" class="icon-sort ic-sort-down"><i class="fa fa-caret-down"></i></a></th>
          <th><a href="#">deadline</a><a href="#" class="icon-sort ic-sort-up"><i class="fa fa-caret-up"></i></a><a href="#" class="icon-sort ic-sort-down"><i class="fa fa-caret-down"></i></a></th>
        </tr>
      </thead>
      <tbody>
        <tr> 
          <td>06/21/16</td>
          <td> <a href="#">event 1</a></td>
          <td>Young Picassos Houston</td>
          <td>St. AR Center Park  </td>
          <td>06/25/16</td>
        </tr>
        <tr> 
          <td>06/21/16</td>
          <td> <a href="#">test sent mail</a></td>
          <td>City of Austin: Austin-Bergstrom International Airport</td>
          <td>St. AR Center Park  </td>
          <td>06/25/16</td>
        </tr>
        <tr> 
          <td>06/21/16</td>
          <td> <a href="#">123 verified</a></td>
          <td>Young Picassos Houston</td>
          <td>St. AR Center Park  </td>
          <td>06/25/16</td>
        </tr>
        <tr> 
          <td>06/21/16</td>
          <td> <a href="#">FE Smith's! - test</a></td>
          <td>City of Austin: Austin-Bergstrom International Airport</td>
          <td>St. AR Center Park  </td>
          <td>06/25/16</td>
        </tr>
        <tr> 
          <td>06/21/16</td>
          <td> <a href="#">Add New Event Happy birthday...</a></td>
          <td>Young Picassos Houston</td>
          <td>St. AR Center Park  </td>
          <td>06/25/16</td>
        </tr>
        <tr> 
          <td>06/21/16</td>
          <td> <a href="#">Auto Spotlight</a></td>
          <td>City of Austin: Austin-Bergstrom International Airport</td>
          <td>St. AR Center Park  </td>
          <td>06/25/16</td>
        </tr>
        <tr> 
          <td>06/21/16</td>
          <td> <a href="#">New event...</a></td>
          <td>Young Picassos Houston</td>
          <td>St. AR Center Park  </td>
          <td>06/25/16</td>
        </tr>
        <tr> 
          <td>06/21/16</td>
          <td> <a href="#">Event Test 2340</a></td>
          <td>City of Austin: Austin-Bergstrom International Airport</td>
          <td>St. AR Center Park  </td>
          <td>06/25/16</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- END : Listing table info-->
<div class="search-bkl search-bkl-paging">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>
<!-- END : blk search paging-->
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
