static-layout/v1/public/blocks/classified-list.html

<div class="search-bkl search-bkl-paging">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
  <nav class="pg">
    <li class="txt"><span>Show:</span></li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="op" class="rad-pg"/><span class="pg"></span><span>One page</span>
      </div>
    </li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="pg" checked="checked" class="rad-pg"/><span class="pg"></span><span>Paginated</span>
      </div>
    </li>
  </nav>
</div>
<div class="search-bkl">
  <nav class="search-classified-list">
    <li>
      <div class="search-img"><a href="classified-detail.html"><img src="../assets/uploads/grape-in-fog-venue_medium.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="classified-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="meta auth comp-name">Presented by<a href="#" target="_blank"> Organization</a></div>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="post-date"><span>Posted: June 10, 2015</span></div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="classified-detail.html"><img src="../assets/uploads/cantor-300x300.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="classified-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="meta auth comp-name">Presented by<a href="#" target="_blank"> Organization</a></div>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="post-date"><span>Posted: June 10, 2015</span></div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="classified-detail.html"><img src="../assets/uploads/Akoma2012-292x300.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="classified-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="meta auth comp-name">Presented by<a href="#" target="_blank"> Organization</a></div>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="post-date"><span>Posted: June 10, 2015</span></div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>

static-layout/v1/source/views/blocks/classified-list.jade
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span One page
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span Paginated
.search-bkl
    nav(class="search-classified-list")
        li
            .search-img
                    a(href="classified-detail.html")
                        img(src="../assets/uploads/grape-in-fog-venue_medium.jpg")
            .info-content
                .search-info
                    a(href="classified-detail.html")
                        span.ev-tt Pineapple Productions ChellyD
                    .meta.auth.comp-name
                        | Presented by
                        a(href="#", target="_blank")  Organization
                    .career Type: Commercial Business, Educational, Festivals...
                    .post-date
                        span Posted: June 10, 2015
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
        li
            .search-img
                    a(href="classified-detail.html")
                        img(src="../assets/uploads/cantor-300x300.jpg")
            .info-content
                .search-info
                    a(href="classified-detail.html")
                        span.ev-tt Pineapple Productions ChellyD
                    .meta.auth.comp-name
                        | Presented by
                        a(href="#", target="_blank")  Organization
                    .career Type: Commercial Business, Educational, Festivals...
                    .post-date
                        span Posted: June 10, 2015
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
        li
            .search-img
                    a(href="classified-detail.html")
                        img(src="../assets/uploads/Akoma2012-292x300.jpg")
            .info-content
                .search-info
                    a(href="classified-detail.html")
                        span.ev-tt Pineapple Productions ChellyD
                    .meta.auth.comp-name
                        | Presented by
                        a(href="#", target="_blank")  Organization
                    .career Type: Commercial Business, Educational, Festivals...
                    .post-date
                        span Posted: June 10, 2015
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
