static-layout/v1/source/views/blocks/dashboard_navsidebar.jade
nav.dsb-main-nav
    ul        
        li.li-h-menu.active
            a(href="#", class="h-menu")
                .l-ico
                    i(class="fa fa-home fa-2x")
                span DASHBOARD
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-account", class="has-child") 
                .l-ico
                    i(class="fa fa-user fa-2x")
                span ACCOUNT
            .sub-nav(id="#sub-account")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#") Ativity
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-orga", class="has-child") 
                .l-ico
                    i(class="fa fa-users fa-2x")
                span.long-ttl Organization/ Business
            .sub-nav(id="#sub-orga")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#", class="long-ttl") MANAGE ORGANIZATION/ BUSINESS
                    li 
                        a(href="#") Ativity 2
                    li 
                        a(href="#") Ativity 3
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-venue", class="has-child") 
                .l-ico
                    i(class="fa fa-university fa-2x")
                span Venue
            .sub-nav(id="#sub-venue")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#") Ativity
                    li 
                        a(href="#") Ativity 2
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-events", class="has-child") 
                .l-ico
                    i(class="fa fa-calendar fa-2x")
                span Events
            .sub-nav(id="#sub-events")
                ul 
                    li 
                        a(href="#") Events
                    li.active
                        a(href="#") Import
        li 
            i.arr.fa.fa-angle-right 
            a(href="#", data-tgr="sub-art", class="has-child") 
                .l-ico
                    i(class="fa fa-paint-brush fa-2x")
                span Artist Profile
            .sub-nav(id="#sub-art")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#") Ativity
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-edu", class="has-child") 
                .l-ico
                    i(class="fa fa-graduation-cap fa-2x")
                span Education
            .sub-nav(id="#sub-edu")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#") Ativity
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-buss", class="has-child") 
                .l-ico
                    i(class="fa fa-suitcase fa-2x")
                span Business
            .sub-nav(id="#sub-buss")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#") Ativity
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-clss", class="has-child") 
                .l-ico
                    i(class="fa fa-file-text-o fa-2x")
                span Classifieds
            .sub-nav(id="#sub-clss")
                ul 
                    li.active 
                        a(href="#") Add Classified
                    li 
                        a(href="#") Published Classifieds

static-layout/v1/public/blocks/dashboard_navsidebar.html

<nav class="dsb-main-nav">
  <ul>       
    <li class="li-h-menu active"><a href="#" class="h-menu">
        <div class="l-ico"><i class="fa fa-home fa-2x"></i></div><span>DASHBOARD</span></a></li>
    <li> <i class="arr fa fa-angle-right"></i><a href="#" data-tgr="sub-account" class="has-child"> 
        <div class="l-ico"><i class="fa fa-user fa-2x"></i></div><span>ACCOUNT</span></a>
      <div id="#sub-account" class="sub-nav">
        <ul> 
          <li class="active"> <a href="#">Account Info</a></li>
          <li> <a href="#">Bookmark</a></li>
          <li> <a href="#">Ativity</a></li>
        </ul>
      </div>
    </li>
    <li> <i class="arr fa fa-angle-right"></i><a href="#" data-tgr="sub-orga" class="has-child"> 
        <div class="l-ico"><i class="fa fa-users fa-2x"></i></div><span class="long-ttl">Organization/ Business</span></a>
      <div id="#sub-orga" class="sub-nav">
        <ul> 
          <li class="active"> <a href="#">Account Info</a></li>
          <li> <a href="#">Bookmark</a></li>
          <li> <a href="#" class="long-ttl">MANAGE ORGANIZATION/ BUSINESS</a></li>
          <li> <a href="#">Ativity 2</a></li>
          <li> <a href="#">Ativity 3</a></li>
        </ul>
      </div>
    </li>
    <li> <i class="arr fa fa-angle-right"></i><a href="#" data-tgr="sub-venue" class="has-child"> 
        <div class="l-ico"><i class="fa fa-university fa-2x"></i></div><span>Venue</span></a>
      <div id="#sub-venue" class="sub-nav">
        <ul> 
          <li class="active"> <a href="#">Account Info</a></li>
          <li> <a href="#">Bookmark</a></li>
          <li> <a href="#">Ativity</a></li>
          <li> <a href="#">Ativity 2</a></li>
        </ul>
      </div>
    </li>
    <li> <i class="arr fa fa-angle-right"></i><a href="#" data-tgr="sub-events" class="has-child"> 
        <div class="l-ico"><i class="fa fa-calendar fa-2x"></i></div><span>Events</span></a>
      <div id="#sub-events" class="sub-nav">
        <ul> 
          <li> <a href="#">Events</a></li>
          <li class="active"><a href="#">Import</a></li>
        </ul>
      </div>
    </li>
    <li> <i class="arr fa fa-angle-right"> </i><a href="#" data-tgr="sub-art" class="has-child"> 
        <div class="l-ico"><i class="fa fa-paint-brush fa-2x"></i></div><span>Artist Profile</span></a>
      <div id="#sub-art" class="sub-nav">
        <ul> 
          <li class="active"> <a href="#">Account Info</a></li>
          <li> <a href="#">Bookmark</a></li>
          <li> <a href="#">Ativity</a></li>
        </ul>
      </div>
    </li>
    <li> <i class="arr fa fa-angle-right"></i><a href="#" data-tgr="sub-edu" class="has-child"> 
        <div class="l-ico"><i class="fa fa-graduation-cap fa-2x"></i></div><span>Education</span></a>
      <div id="#sub-edu" class="sub-nav">
        <ul> 
          <li class="active"> <a href="#">Account Info</a></li>
          <li> <a href="#">Bookmark</a></li>
          <li> <a href="#">Ativity</a></li>
        </ul>
      </div>
    </li>
    <li> <i class="arr fa fa-angle-right"></i><a href="#" data-tgr="sub-buss" class="has-child"> 
        <div class="l-ico"><i class="fa fa-suitcase fa-2x"></i></div><span>Business</span></a>
      <div id="#sub-buss" class="sub-nav">
        <ul> 
          <li class="active"> <a href="#">Account Info</a></li>
          <li> <a href="#">Bookmark</a></li>
          <li> <a href="#">Ativity</a></li>
        </ul>
      </div>
    </li>
    <li> <i class="arr fa fa-angle-right"></i><a href="#" data-tgr="sub-clss" class="has-child"> 
        <div class="l-ico"><i class="fa fa-file-text-o fa-2x"></i></div><span>Classifieds</span></a>
      <div id="#sub-clss" class="sub-nav">
        <ul> 
          <li class="active"> <a href="#">Add Classified</a></li>
          <li> <a href="#">Published Classifieds</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
