static-layout/v1/source/views/blocks/detail_location.jade
.a-block.locatn
    h4 LOCATION
        span
            i.fa.fa-map-marker
    .a-block-ct
        .lo-left
            .lo-map
                img(src="../assets/uploads/find-map.jpg", alt="map-location.jpg")
            p.t-r
                a(href="http://", target="_blank") Full map and directions
        .lo-right
            b Albuquerque Little Theatre
            p 224 San Pasquale Avenue SW Albuquerque, NM 87104
        .clearfix
        .lo-meta.clearfix
            p
                b Accessibility Information:
                |  Currently, no accessibility information is available for this event.
            p
                b Connect with this Organization:
                a(href="http://", target="_blank", class="lo-link fb")
                    i.fa.fa-facebook.fa-lg
                a(href="http://", target="_blank", class="lo-link tw")
                    i.fa.fa-twitter.fa-lg
                a(href="http://", target="_blank", class="lo-link donat")
                    | DONATE

static-layout/v1/public/blocks/detail_location.html

<div class="a-block locatn">
  <h4>LOCATION<span><i class="fa fa-map-marker"></i></span></h4>
  <div class="a-block-ct">
    <div class="lo-left">
      <div class="lo-map"><img src="../assets/uploads/find-map.jpg" alt="map-location.jpg"/></div>
      <p class="t-r"><a href="http://" target="_blank">Full map and directions</a></p>
    </div>
    <div class="lo-right"><b>Albuquerque Little Theatre</b>
      <p>224 San Pasquale Avenue SW Albuquerque, NM 87104</p>
    </div>
    <div class="clearfix"></div>
    <div class="lo-meta clearfix">
      <p><b>Accessibility Information:</b> Currently, no accessibility information is available for this event.</p>
      <p><b>Connect with this Organization:</b><a href="http://" target="_blank" class="lo-link fb"><i class="fa fa-facebook fa-lg"></i></a><a href="http://" target="_blank" class="lo-link tw"><i class="fa fa-twitter fa-lg"></i></a><a href="http://" target="_blank" class="lo-link donat">DONATE</a></p>
    </div>
  </div>
</div>
