static-layout/v1/source/views/blocks/detail_category_page_v1.jade
article.content-page.category-detail
    .b-share-cat
        a(href="#", target="_blank", class="sc lk")
            i.fa.fa-linkedin
        a(href="#", target="_blank", class="sc tw")
            i.fa.fa-twitter
        a(href="#", target="_blank", class="sc fb")
            i.fa.fa-facebook
        a(href="#", target="_blank", class="sc google")
             i.fa.fa-google-plus
    h1.p-ttl Super Scenic 72 Mile Garage Sale
    p.meta.auth
        | Presented by
        a(href="#", target="_blank")  St. Helena Public Library
        | at
        a(href="#", target="_blank")  Public Library
    .cat-rating-box.rating-action
        .star-bx
            i.fa.fa-star.active
            i.fa.fa-star.active
            i.fa.fa-star.active
            i.fa.fa-star
            i.fa.fa-star
        p.rating-count ( 1 vote )
    .pic
        a(href="#")
            .event-time.top-pos.rec_above_image
                .md Feb&nbsp;26&nbsp;-&nbsp;Apr&nbsp;24
            img(src="../assets/uploads/b1.jpg", alt="Super Scenic 72 Mile Garage Sale")
    .b-btn.cat-detail
        a(href="#", class="btn btn-cat-detail") BUY TICKETS
        a(href="#", class="btn btn-cat-detail") CHECK DISCOUNT
        a(href="#", class="btn btn-cat-detail") ADD IT
    p.desc This shopping extravaganza runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way! Don’t miss the opportunity for rare finds, antiques, art and everything else you can imagine. Along the way, pick up raffle tickets for a chance to win one of four vacation prize at ...
        a(href="javascript:;", class="vmore") View more
section.list-category
    article.category-itm
        .pic
            .event-time.top-pos.rec_above_image
                .md Feb&nbsp;26&nbsp;-&nbsp;Apr&nbsp;24
            a(href="#")
                img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
        .category-t
            h2.category-ttl
                a(href="#")  Wednesday Brown Bag Lunch - Beauty in Batik
            p.meta.auth Presented by
                a(href="#", target="_blank") St. Helena Public Library
                |  at
                a(href="#", target="_blank") Public Library
            .cat-rating-box.rating-action
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
            a(href="javascript:;", class="vmore") View more

    article.category-itm
        .pic
            .event-time.top-pos.rec_above_image
                .md Feb&nbsp;26&nbsp;-&nbsp;Apr&nbsp;24
            a(href="#")
                img(src="../assets/uploads/testw.jpg", alt="Night, Smoke, and Shadows - Exhibition")
        .category-t
            h2.category-ttl
                a(href="#")  Wednesday Brown Bag Lunch - Beauty in Batik
            p.meta.auth Presented by
                a(href="#", target="_blank") St. Helena Public Library
                |  at
                a(href="#", target="_blank") Public Library
            .cat-rating-box.rating-action
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
            a(href="javascript:;", class="vmore") View more
            .b-btn.category
                a(href="#", class="btn btn-category") BUY TICKETS
                a(href="#", class="btn btn-category") CHECK DISCOUNT
                a(href="#", class="btn btn-category") ADD IT

    article.category-itm
        .pic
            .event-time.top-pos.rec_above_image
                .md Feb&nbsp;26&nbsp;-&nbsp;Apr&nbsp;24
            a(href="#")
                img(src="../assets/uploads/joy_thumb-300x200.jpg", alt="Night, Smoke, and Shadows - Exhibition")
        .category-t
            h2.category-ttl
                a(href="#")  Wednesday Brown Bag Lunch - Beauty in Batik
            p.meta.auth Presented by
                a(href="#", target="_blank") St. Helena Public Library
                |  at
                a(href="#", target="_blank") Public Library
            .cat-rating-box.rating-action
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
            a(href="javascript:;", class="vmore") View more
            .b-btn.category
                a(href="#", class="btn btn-category") BUY TICKETS
                a(href="#", class="btn btn-category") CHECK DISCOUNT
                a(href="#", class="btn btn-category") ADD IT
    article.category-itm
        .pic
            .event-time.top-pos.rec_above_image
                .md Feb&nbsp;26&nbsp;-&nbsp;Apr&nbsp;24
            a(href="#")
                img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
        .category-t
            h2.category-ttl
                a(href="#")  Wednesday Brown Bag Lunch - Beauty in Batik
            p.meta.auth Presented by
                a(href="#", target="_blank") St. Helena Public Library
                |  at
                a(href="#", target="_blank") Public Library
            .cat-rating-box.rating-action
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
            a(href="javascript:;", class="vmore") View more
            .b-btn.category
                a(href="#", class="btn btn-category") BUY TICKETS
                a(href="#", class="btn btn-category") CHECK DISCOUNT
                a(href="#", class="btn btn-category") ADD IT
section.list-more-category
    .more-cat-itm
        .more-pic
            a(href="#", target="_blank")
                img(src="../assets/uploads/b1.jpg", alt="The Layered Surface on Clay with Meredith Host")
        .more-ct
            h3
                a(href="#", target="_blank") The Layered Surface on Clay with Meredith Host
            p.meta.auth
                | Presented by
                a(href="#", target="_blank")  St. Helena Public Library
                | at
                a(href="#", target="_blank")  Public Library
            p.p-date
                | Oct 10 - Nov 2,
                span  2014
            .more-cat-rating-box
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...
                a(href="javascript:;", class="vmore") View more
        .b-btn
            a(href="#", class="btn btn-b") BUY TICKETS
            a(href="#", class="btn btn-b") CHECK DISCOUNT
            a(href="#", class="btn btn-b") ADD IT

    .more-cat-itm
        .more-pic
            a(href="#", target="_blank")
                img(src="../assets/uploads/b1.jpg", alt="The Layered Surface on Clay with Meredith Host")
        .more-ct
            h3
                a(href="#", target="_blank") The Layered Surface on Clay with Meredith Host
            p.meta.auth
                | Presented by
                a(href="#", target="_blank")  St. Helena Public Library
                | at
                a(href="#", target="_blank")  Public Library
            p.p-date
                | Oct 10 - Nov 2,
                span  2014
            .more-cat-rating-box
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...
                a(href="javascript:;", class="vmore") View more
        .b-btn
            a(href="#", class="btn btn-b") BUY TICKETS
            a(href="#", class="btn btn-b") CHECK DISCOUNT
            a(href="#", class="btn btn-b") ADD IT

    .more-cat-itm
        .more-pic
            a(href="#", target="_blank")
                img(src="../assets/uploads/test.jpg", alt="The Layered Surface on Clay with Meredith Host")
        .more-ct
            h3
                a(href="#", target="_blank") The Layered Surface on Clay with Meredith Host
            p.meta.auth
                | Presented by
                a(href="#", target="_blank")  St. Helena Public Library
                | at
                a(href="#", target="_blank")  Public Library
            p.p-date
                | Oct 10 - Nov 2,
                span  2014
            .more-cat-rating-box
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...
                a(href="javascript:;", class="vmore") View more
        .b-btn
            a(href="#", class="btn btn-b") BUY TICKETS
            a(href="#", class="btn btn-b") CHECK DISCOUNT
            a(href="#", class="btn btn-b") ADD IT
    .more-cat-itm
        .more-pic
            a(href="#", target="_blank")
                img(src="../assets/uploads/testw.jpg", alt="The Layered Surface on Clay with Meredith Host")
        .more-ct
            h3
                a(href="#", target="_blank") The Layered Surface on Clay with Meredith Host
            p.meta.auth
                | Presented by
                a(href="#", target="_blank")  St. Helena Public Library
                | at
                a(href="#", target="_blank")  Public Library
            p.p-date
                | Oct 10 - Nov 2,
                span  2014
            .more-cat-rating-box
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...
                a(href="javascript:;", class="vmore") View more
        .b-btn
            a(href="#", class="btn btn-b") BUY TICKETS
            a(href="#", class="btn btn-b") CHECK DISCOUNT
            a(href="#", class="btn btn-b") ADD IT

static-layout/v1/public/blocks/detail_category_page_v1.html

<article class="content-page category-detail">
  <div class="b-share-cat"><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a></div>
  <h1 class="p-ttl">Super Scenic 72 Mile Garage Sale</h1>
  <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
  <div class="cat-rating-box rating-action">
    <div class="star-bx"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    <p class="rating-count">( 1 vote )</p>
  </div>
  <div class="pic"><a href="#">
      <div class="event-time top-pos rec_above_image">
        <div class="md">Feb&nbsp;26&nbsp;-&nbsp;Apr&nbsp;24</div>
      </div><img src="../assets/uploads/b1.jpg" alt="Super Scenic 72 Mile Garage Sale"/></a></div>
  <div class="b-btn cat-detail"><a href="#" class="btn btn-cat-detail">BUY TICKETS</a><a href="#" class="btn btn-cat-detail">CHECK DISCOUNT</a><a href="#" class="btn btn-cat-detail">ADD IT</a></div>
  <p class="desc">This shopping extravaganza runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way! Don’t miss the opportunity for rare finds, antiques, art and everything else you can imagine. Along the way, pick up raffle tickets for a chance to win one of four vacation prize at ...<a href="javascript:;" class="vmore">View more</a></p>
</article>
<section class="list-category">
  <article class="category-itm">
    <div class="pic">
      <div class="event-time top-pos rec_above_image">
        <div class="md">Feb&nbsp;26&nbsp;-&nbsp;Apr&nbsp;24</div>
      </div><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a>
    </div>
    <div class="category-t">
      <h2 class="category-ttl"><a href="#"> Wednesday Brown Bag Lunch - Beauty in Batik</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">St. Helena Public Library</a> at<a href="#" target="_blank">Public Library</a></p>
      <div class="cat-rating-box rating-action">
        <div class="star-bx"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
        <p class="rating-count">( 1974 votes )</p>
      </div>
      <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p><a href="javascript:;" class="vmore">View more</a>
    </div>
  </article>
  <article class="category-itm">
    <div class="pic">
      <div class="event-time top-pos rec_above_image">
        <div class="md">Feb&nbsp;26&nbsp;-&nbsp;Apr&nbsp;24</div>
      </div><a href="#"><img src="../assets/uploads/testw.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a>
    </div>
    <div class="category-t">
      <h2 class="category-ttl"><a href="#"> Wednesday Brown Bag Lunch - Beauty in Batik</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">St. Helena Public Library</a> at<a href="#" target="_blank">Public Library</a></p>
      <div class="cat-rating-box rating-action">
        <div class="star-bx"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
        <p class="rating-count">( 1974 votes )</p>
      </div>
      <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p><a href="javascript:;" class="vmore">View more</a>
      <div class="b-btn category"><a href="#" class="btn btn-category">BUY TICKETS</a><a href="#" class="btn btn-category">CHECK DISCOUNT</a><a href="#" class="btn btn-category">ADD IT</a></div>
    </div>
  </article>
  <article class="category-itm">
    <div class="pic">
      <div class="event-time top-pos rec_above_image">
        <div class="md">Feb&nbsp;26&nbsp;-&nbsp;Apr&nbsp;24</div>
      </div><a href="#"><img src="../assets/uploads/joy_thumb-300x200.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a>
    </div>
    <div class="category-t">
      <h2 class="category-ttl"><a href="#"> Wednesday Brown Bag Lunch - Beauty in Batik</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">St. Helena Public Library</a> at<a href="#" target="_blank">Public Library</a></p>
      <div class="cat-rating-box rating-action">
        <div class="star-bx"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
        <p class="rating-count">( 1974 votes )</p>
      </div>
      <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p><a href="javascript:;" class="vmore">View more</a>
      <div class="b-btn category"><a href="#" class="btn btn-category">BUY TICKETS</a><a href="#" class="btn btn-category">CHECK DISCOUNT</a><a href="#" class="btn btn-category">ADD IT</a></div>
    </div>
  </article>
  <article class="category-itm">
    <div class="pic">
      <div class="event-time top-pos rec_above_image">
        <div class="md">Feb&nbsp;26&nbsp;-&nbsp;Apr&nbsp;24</div>
      </div><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a>
    </div>
    <div class="category-t">
      <h2 class="category-ttl"><a href="#"> Wednesday Brown Bag Lunch - Beauty in Batik</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">St. Helena Public Library</a> at<a href="#" target="_blank">Public Library</a></p>
      <div class="cat-rating-box rating-action">
        <div class="star-bx"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
        <p class="rating-count">( 1974 votes )</p>
      </div>
      <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p><a href="javascript:;" class="vmore">View more</a>
      <div class="b-btn category"><a href="#" class="btn btn-category">BUY TICKETS</a><a href="#" class="btn btn-category">CHECK DISCOUNT</a><a href="#" class="btn btn-category">ADD IT</a></div>
    </div>
  </article>
</section>
<section class="list-more-category">
  <div class="more-cat-itm">
    <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/b1.jpg" alt="The Layered Surface on Clay with Meredith Host"/></a></div>
    <div class="more-ct">
      <h3><a href="#" target="_blank">The Layered Surface on Clay with Meredith Host</a></h3>
      <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
      <p class="p-date">Oct 10 - Nov 2,<span> 2014</span></p>
      <div class="more-cat-rating-box">
        <div class="star-bx"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
        <p class="rating-count">( 1974 votes )</p>
      </div>
      <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...<a href="javascript:;" class="vmore">View more</a></p>
    </div>
    <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a><a href="#" class="btn btn-b">ADD IT</a></div>
  </div>
  <div class="more-cat-itm">
    <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/b1.jpg" alt="The Layered Surface on Clay with Meredith Host"/></a></div>
    <div class="more-ct">
      <h3><a href="#" target="_blank">The Layered Surface on Clay with Meredith Host</a></h3>
      <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
      <p class="p-date">Oct 10 - Nov 2,<span> 2014</span></p>
      <div class="more-cat-rating-box">
        <div class="star-bx"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
        <p class="rating-count">( 1974 votes )</p>
      </div>
      <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...<a href="javascript:;" class="vmore">View more</a></p>
    </div>
    <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a><a href="#" class="btn btn-b">ADD IT</a></div>
  </div>
  <div class="more-cat-itm">
    <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/test.jpg" alt="The Layered Surface on Clay with Meredith Host"/></a></div>
    <div class="more-ct">
      <h3><a href="#" target="_blank">The Layered Surface on Clay with Meredith Host</a></h3>
      <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
      <p class="p-date">Oct 10 - Nov 2,<span> 2014</span></p>
      <div class="more-cat-rating-box">
        <div class="star-bx"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
        <p class="rating-count">( 1974 votes )</p>
      </div>
      <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...<a href="javascript:;" class="vmore">View more</a></p>
    </div>
    <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a><a href="#" class="btn btn-b">ADD IT</a></div>
  </div>
  <div class="more-cat-itm">
    <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/testw.jpg" alt="The Layered Surface on Clay with Meredith Host"/></a></div>
    <div class="more-ct">
      <h3><a href="#" target="_blank">The Layered Surface on Clay with Meredith Host</a></h3>
      <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
      <p class="p-date">Oct 10 - Nov 2,<span> 2014</span></p>
      <div class="more-cat-rating-box">
        <div class="star-bx"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
        <p class="rating-count">( 1974 votes )</p>
      </div>
      <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...<a href="javascript:;" class="vmore">View more</a></p>
    </div>
    <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a><a href="#" class="btn btn-b">ADD IT</a></div>
  </div>
</section>
