static-layout/v1/public/blocks/detail_feature-artist.html

<h1 class="p-ttl">Susan Mincey
  <p class="meta">Visual Artist: Drawing Illustration - Visual Artist: Painting - Visual Artist: Print / Digital Art</p>
  <div class="rating-box rating-action">
    <div class="like"><a href="javascript:;">1974</a></div>
    <div class="cm"><a href="javascript:;">Comment</a></div>
  </div>
</h1>
<div class="pic"><a href="#"><img src="../assets/uploads/artist-detail-img.jpg" alt="Susan Mincey"/></a></div>
<h3 class="a-txt-fea">Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.</h3>
<div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
<div class="a-desc">
  <p>But when they unexpectedly discover they’re now in the same high school.</p>
  <p>Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG<a href="javascript:;" class="vmore">View more</a></p>
  <div class="a-desc-more">
    <p>But when they unexpectedly discover they’re now in the same high school.</p>
    <p>Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG</p>
  </div>
</div>

static-layout/v1/source/views/blocks/detail_feature-artist.jade
h1.p-ttl Susan Mincey
    p.meta
        |Visual Artist: Drawing Illustration - Visual Artist: Painting - Visual Artist: Print / Digital Art
    .rating-box.rating-action
        .like
            a(href="javascript:;") 1974
        .cm
            a(href="javascript:;") Comment
.pic
    a(href="#")
        img(src="../assets/uploads/artist-detail-img.jpg", alt="Susan Mincey")
h3.a-txt-fea
    | Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
.b-btn
    a(href="#", class="btn btn-b") BUY TICKETS
    a(href="#", class="btn btn-b") CHECK DISCOUNT
.a-desc
    p But when they unexpectedly discover they’re now in the same high school.
    p Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG
        a(href="javascript:;", class="vmore") View more
    .a-desc-more
        p But when they unexpectedly discover they’re now in the same high school.
        p Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG
