static-layout/v1/public/blocks/detail_feature.html

<div class="pic"><a href="#">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
<h3 class="a-txt-fea">Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.</h3>
<div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
<div class="a-desc">
  <p>But when they unexpectedly discover they’re now in the same high school.</p>
  <p>Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG<a href="javascript:;" class="vmore">View more</a></p>
  <div class="a-desc-more">
    <p>But when they unexpectedly discover they’re now in the same high school.</p>
    <p>Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG</p>
  </div>
</div>

static-layout/v1/source/views/blocks/detail_feature.jade
.pic
    a(href="#")
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
h3.a-txt-fea
    | Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
.b-btn
    a(href="#", class="btn btn-b") BUY TICKETS
    a(href="#", class="btn btn-b") CHECK DISCOUNT
.a-desc
    p But when they unexpectedly discover they’re now in the same high school.
    p Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG
        a(href="javascript:;", class="vmore") View more
    .a-desc-more
        p But when they unexpectedly discover they’re now in the same high school.
        p Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG
