static-layout/v1/source/views/blocks/detail_feature_single_page.jade
article.content-page.astro-detail
    .astro-featr
        article.blog-itm
            include detail_feature_single_content.jade
            .clearfix
            .a-block.adm
                h4 ADMISSION INFO
                    span
                        i.fa.fa-info
                .a-block-ct
                    p Adult $24.00, Senior (65 & up) $22.00, Student (13-University) $18, Child (12 & under) $12
                    p
                        b Contact:
                        | 928-555-555
            include detail_datetime.jade
            include detail_location_full_screen.jade
            .a-block.fb-comment
                | FB COMMNENT PLUGIN
            include detail_makeit.jade
            include detail_more_from.jade
            .a-block
                h4 VIDEOS
                    span
                        i.fa.fa-film
                .a-block-ct-video
                    .video-inner
                        ul.video-block
                            li.vdeo(class="selected", data-target="1")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="0")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="1")
                                iframe(src="http://www.youtube.com/embed/XFSAh0OhTEQ&amp;wmode=opaque")
                            li.vdeo(data-target="2")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="3")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="4")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="5")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="6")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                        #video-pager
                            a(data-slide-index="0", href="")
                                img(src="../assets/uploads/slider-01.jpeg")
                            a(data-slide-index="1", href="")
                                img(src="../assets/uploads/slider-02.jpeg")
                            a(data-slide-index="2", href="")
                                img(src="../assets/uploads/slider-03.jpeg")
                            a(data-slide-index="3", href="")
                                img(src="../assets/uploads/slider-04.jpeg")
                            a(data-slide-index="4", href="")
                                img(src="../assets/uploads/slider-05.jpeg")
                            a(data-slide-index="5", href="")
                                img(src="../assets/uploads/slider-06.jpeg")
                            a(data-slide-index="6", href="")
                                img(src="../assets/uploads/slider-07.jpeg")
                            a(data-slide-index="7", href="")
                                img(src="../assets/uploads/slider-08.jpeg")
                    .vd-loader
                        a
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
                h4 PHOTOS
                    span
                        i.fa.fa-picture-o
                .a-block-ct-photo
                    .photo-inner
                        a(href="#", class="fullscreen")
                            <i class="fa fa-arrows-alt fa-2x"></i>
                        ul.bxslider
                            li
                                img(src="../assets/uploads/slider-01.jpeg")
                            li
                                img(src="../assets/uploads/slider-02.jpeg")
                            li
                                img(src="../assets/uploads/slider-03.jpeg")
                            li
                                img(src="../assets/uploads/slider-04.jpeg")
                            li
                                img(src="../assets/uploads/slider-05.jpeg")
                            li
                                img(src="../assets/uploads/slider-06.jpeg")
                            li
                                img(src="../assets/uploads/slider-07.jpeg")
                            li
                                img(src="../assets/uploads/slider-08.jpeg")
                        #bx-pager
                            a(data-slide-index="0", href="")
                                img(src="../assets/uploads/slider-01.jpeg")
                            a(data-slide-index="1", href="")
                                img(src="../assets/uploads/slider-02.jpeg")
                            a(data-slide-index="2", href="")
                                img(src="../assets/uploads/slider-03.jpeg")
                            a(data-slide-index="3", href="")
                                img(src="../assets/uploads/slider-04.jpeg")
                            a(data-slide-index="4", href="")
                                img(src="../assets/uploads/slider-05.jpeg")
                            a(data-slide-index="5", href="")
                                img(src="../assets/uploads/slider-06.jpeg")
                            a(data-slide-index="6", href="")
                                img(src="../assets/uploads/slider-07.jpeg")
                            a(data-slide-index="7", href="")
                                img(src="../assets/uploads/slider-08.jpeg")
                    .loader
                        a
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
                .photo-box(style="display:none")
                                .photo(class="selected", data-target="1")
                                    img(src="../assets/uploads/test.jpg")
                                    .photo-caption
                                        p The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1
                                .photo(data-target="2")
                                    img(src="../assets/uploads/Suzuki.jpg")
                                    .photo-caption
                                        p The picture caption 2
                                .photo(data-target="3")
                                    img(src="../assets/uploads/squr_1.jpg")
                                    .photo-caption
                                        p The picture caption 3
                                .photo(data-target="4")
                                    img(src="../assets/uploads/squr_2.jpg")
                                    .photo-caption
                                        p The picture caption 4
                                .photo(data-target="5")
                                    img(src="../assets/uploads/test.jpg")
                                    .photo-caption
                                        p The picture caption 5
                                .photo(data-target="6")
                                    img(src="../assets/uploads/test2.jpg")
                                    .photo-caption
                                        p The picture caption 6
                                .thumb-slider
                                    ul(class="slider-video")
                                        li
                                            a(href="#",data-id="1")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="2")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="3")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="4")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="5")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="6")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                .closevideo
                                    <i class="fa fa-times fa-lg"></i>

            .a-block.review
                h4 MEMBER REVIEWS
                    span
                        i.fa.fa-user
                .a-block-ct
                    p.t-c There are currently no reviews/comments for this event. Be the first to add a review/comment , and let folks know what you think!
            include detail_comment.jade

static-layout/v1/public/blocks/detail_feature_single_page.html

<article class="content-page astro-detail">
  <div class="astro-featr">
    <article class="blog-itm">
      <div class="pic"><a href="#">
          <div class="left-event-time">
            <div class="month"><span>AUG</span><span>17</span></div>
            <div class="th">thru</div>
            <div class="date"><span>AUG</span><span>25</span></div>
          </div><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blk-detail-single--event clearfix">
        <h1 class="p-ttl">20 Inspiring Free WordPress Themes To Start Anew in 2014</h1>
        <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
        <div class="b-share-cat b-share--full">
          <label>&nbsp;<span>Share</span></label><a href="#" target="_blank" class="sc lk bg_social"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="sc tw bg_social"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc fb bg_social"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc google bg_social"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc inst bg_social"><span><i class="fa fa-instagram"></i></span></a><a href="#" id="print2" class="pt print"><i class="fa fa-print"></i></a><a href="#" class="pt email"><i class="fa fa-envelope-o"></i></a>
        </div>
        <div class="rating-box rating-action">
          <div class="like"><a href="javascript:;">1974</a></div>
          <div class="cm"><a href="javascript:;">Comment</a></div>
          <div class="bok-mk"><a href="javascript:;">Bookmark</a></div>
        </div>
      </div>
      <h3 class="a-txt-fea">Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.</h3>
      <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      <div class="a-desc">
        <p>But when they unexpectedly discover they’re now in the same high school.</p>
        <p>Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG<a href="javascript:;" class="vmore">View more</a></p>
        <div class="a-desc-more">
          <p>But when they unexpectedly discover they’re now in the same high school.</p>
          <p>Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="a-block adm">
        <h4>ADMISSION INFO<span><i class="fa fa-info"></i></span></h4>
        <div class="a-block-ct">
          <p>Adult $24.00, Senior (65 & up) $22.00, Student (13-University) $18, Child (12 & under) $12</p>
          <p><b>Contact:</b>928-555-555</p>
        </div>
      </div>
      <div class="a-block datetime">
        <h4>INDIVIDUAL DATES & TIMES *<span> <i class="fa fa-clock-o"></i></span></h4>
        <div class="a-block-ct">
          <div class="clearfix">
            <ul class="ind-time">
              <li>Dec 3, 2014: 3:35 pm - 4 pm (Wed)</li>
              <li>Dec 3, 2014: 3:35 pm - 4 pm (Wed)</li>
            </ul>
          </div>
          <p class="t-r">
             
            <a class="vmore" href="javascript:;">View more</a>
          </p>
          <div class="not"><span>* </span> Event durations (if noted) are approximate. Please check with the presenting organization or venue to confirm start times and duration.</div>
        </div>
      </div>
      <div class="a-block locatn">
        <h4>LOCATION<span><i class="fa fa-map-marker"></i></span></h4>
        <div class="a-block-ct">
          <div class="lo-left">
            <div class="lo-map"><img src="../assets/uploads/find-map.jpg" alt="map-location.jpg"/></div>
            <div class="location-btn b-btn"><a href="#" class="btn btn-b">GET DIRECTIONS</a></div>
          </div>
          <div class="lo-right"><b>Albuquerque Little Theatre</b>
            <p>224 San Pasquale Avenue SW Albuquerque, NM 87104</p>
          </div>
          <div class="clearfix"></div>
          <div class="lo-meta clearfix">
            <p><b>Accessibility Information:</b> Currently, no accessibility information is available for this event.</p>
            <p><b>Connect with this Organization:</b><a href="http://" target="_blank" class="lo-link fb"><i class="fa fa-facebook fa-lg"></i></a><a href="http://" target="_blank" class="lo-link tw"><i class="fa fa-twitter fa-lg"></i></a><a href="http://" target="_blank" class="lo-link donat">DONATE</a></p>
          </div>
        </div>
      </div>
      <div class="a-block fb-comment">FB COMMNENT PLUGIN</div>
      <div class="a-block grey">
        <h4>MAKE IT A NIGHT<span><i class="fa fa-map-marker"></i></span></h4>
        <div class="a-block-ct">
          <form id="search-map" method="POST" action="" class="search-map-frm"><i class="fa fa-search fa-flip-horizontal"></i>
            <input type="text" placeholder="Find Restaurants near this venue..."/>
          </form>
        </div>
        <div class="find-map"><img src="../assets/uploads/find-map.jpg" alt="find map"/></div>
        <div class="filter-map">
          <table class="tbl">
            <tr>
              <td rowspan="2" class="vtop">FILTER MAP BY</td>
              <td>
                <input type="checkbox" name="f-map-all" value="all" id="m-all"/>
                <label for="m-all"><img src="../images/ico-g-all.png" alt="ico-g-all.png"/> All</label>
              </td>
              <td>
                <input type="checkbox" name="f-map-drink" value="drink" id="m-drink"/>
                <label for="m-drink"><img src="../images/ico-g-cup.png" alt="ico-g-cup.png"/> Drink</label>
              </td>
              <td>
                <input type="checkbox" name="f-map-venue" value="venue" id="m-venue"/>
                <label for="m-venue"><img src="../images/ico-g-star.png" alt="ico-g-star.png"/> Venue only</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="f-map-food" value="food" id="m-food"/>
                <label for="m-food"><img src="../images/ico-g-knife.png" alt="ico-g-knife.png"/> Food</label>
              </td>
              <td colspan="2">
                <input type="checkbox" name="f-map-accom" value="food" id="m-accom"/>
                <label for="m-accom"><img src="../images/ico-g-wscreen.png" alt="ico-g-wscreen.png"/> Accommodation</label>
              </td>
            </tr>
          </table>
        </div>
        <div class="nofi-map">
          <p>Don’t see your business listed here?<a href="http://" target="_blank">Email us</a>  to add it!</p><a href="javascript:;" data-target="nofi-more" class="nofi-exp">Expand [+]</a>
        </div>
        <div class="nofi-more">
          <div class="n-star"><span><i class="fa fa-star"></i></span>
            <p>ALBUQUERQUE LITTLE THEATRE</p>
          </div>
          <div class="n-blk">
            <label><span>FOOD</span></label>
            <div class="n-blk-ct">
              <ul>
                <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Cheese Coffee Caf Downtown</li>
                <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Liu Chinese Fast Food</li>
                <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Vinaigrette</li>
                <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Garcias Kitchen The Original</li>
                <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Route 66 Malt Shop</li>
                <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Bottger Mansion of Old Town</li>
              </ul>
            </div>
          </div>
          <div class="n-blk">
            <label><span>Accommodation</span></label>
            <div class="n-blk-ct">
              <ul>
                <li><img src="../images/ico-y-wscreen.png" alt="ico-y-wscreen.png"/> Bottger Mansion of Old Town</li>
                <li><img src="../images/ico-y-wscreen.png" alt="ico-y-wscreen.png"/> Liu Chinese Fast Food</li>
              </ul>
            </div>
          </div>
          <div class="n-blk">
            <label><span>Drink</span></label>
            <div class="n-blk-ct">
              <ul>
                <li><img src="../images/ico-y-cup.png" alt="ico-y-wscreen.png"/> Bottger Mansion of Old Town</li>
                <li><img src="../images/ico-y-cup.png" alt="ico-y-wscreen.png"/> Liu Chinese</li>
                <li><img src="../images/ico-y-cup.png" alt="ico-y-wscreen.png"/> Vinaigrette</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="a-block more-from">
        <h4>MORE FROM LIMELIGHT THEATRE</h4>
        <div class="a-block-ct">
          <div class="more-frm-list">
            <div class="more-frm-itm">
              <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/squr_1.jpg" alt="squr"/></a></div>
              <div class="more-ct">
                <h3><a href="#" target="_blank">CHINA OPERA PHANTOM</a></h3>
                <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
                <p class="p-date">Oct 10 - Nov 2,<span> 2014</span></p>
                <div class="rating-box rating-action">
                  <div class="like"><a href="javascript:;">1974</a></div>
                </div>
              </div>
              <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">ATTENDING?</a></div>
            </div>
            <div class="more-frm-itm">
              <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/squr_2.jpg" alt="squr"/></a></div>
              <div class="more-ct">
                <h3><a href="http://" target="_blank">ULTRON VS AVENGERS 2015</a></h3>
                <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
                <p class="p-date">Oct 9 - Nov 7,<span> 2014</span></p>
                <div class="rating-box rating-action">
                  <div class="like"><a href="javascript:;">1974</a></div>
                </div>
              </div>
              <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">ATTENDING?</a></div>
            </div>
            <p class="t-r"><a class="vmore" href="javascript:;">View more</a></p>
          </div>
        </div>
      </div>
      <div class="a-block">
        <h4>VIDEOS<span><i class="fa fa-film"></i></span></h4>
        <div class="a-block-ct-video">
          <div class="video-inner">
            <ul class="video-block">
              <li data-target="1" class="vdeo selected">
                <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
              </li>
              <li data-target="0" class="vdeo">
                <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
              </li>
              <li data-target="1" class="vdeo">
                <iframe src="http://www.youtube.com/embed/XFSAh0OhTEQ&amp;amp;wmode=opaque"></iframe>
              </li>
              <li data-target="2" class="vdeo">
                <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
              </li>
              <li data-target="3" class="vdeo">
                <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
              </li>
              <li data-target="4" class="vdeo">
                <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
              </li>
              <li data-target="5" class="vdeo">
                <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
              </li>
              <li data-target="6" class="vdeo">
                <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
              </li>
            </ul>
            <div id="video-pager"><a data-slide-index="0" href=""><img src="../assets/uploads/slider-01.jpeg"/></a><a data-slide-index="1" href=""><img src="../assets/uploads/slider-02.jpeg"/></a><a data-slide-index="2" href=""><img src="../assets/uploads/slider-03.jpeg"/></a><a data-slide-index="3" href=""><img src="../assets/uploads/slider-04.jpeg"/></a><a data-slide-index="4" href=""><img src="../assets/uploads/slider-05.jpeg"/></a><a data-slide-index="5" href=""><img src="../assets/uploads/slider-06.jpeg"/></a><a data-slide-index="6" href=""><img src="../assets/uploads/slider-07.jpeg"/></a><a data-slide-index="7" href=""><img src="../assets/uploads/slider-08.jpeg"/></a></div>
          </div>
          <div class="vd-loader"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
        </div>
        <h4>PHOTOS<span><i class="fa fa-picture-o"></i></span></h4>
        <div class="a-block-ct-photo">
          <div class="photo-inner"><a href="#" class="fullscreen"><i class="fa fa-arrows-alt fa-2x"></i></a>
            <ul class="bxslider">
              <li><img src="../assets/uploads/slider-01.jpeg"/></li>
              <li><img src="../assets/uploads/slider-02.jpeg"/></li>
              <li><img src="../assets/uploads/slider-03.jpeg"/></li>
              <li><img src="../assets/uploads/slider-04.jpeg"/></li>
              <li><img src="../assets/uploads/slider-05.jpeg"/></li>
              <li><img src="../assets/uploads/slider-06.jpeg"/></li>
              <li><img src="../assets/uploads/slider-07.jpeg"/></li>
              <li><img src="../assets/uploads/slider-08.jpeg"/></li>
            </ul>
            <div id="bx-pager"><a data-slide-index="0" href=""><img src="../assets/uploads/slider-01.jpeg"/></a><a data-slide-index="1" href=""><img src="../assets/uploads/slider-02.jpeg"/></a><a data-slide-index="2" href=""><img src="../assets/uploads/slider-03.jpeg"/></a><a data-slide-index="3" href=""><img src="../assets/uploads/slider-04.jpeg"/></a><a data-slide-index="4" href=""><img src="../assets/uploads/slider-05.jpeg"/></a><a data-slide-index="5" href=""><img src="../assets/uploads/slider-06.jpeg"/></a><a data-slide-index="6" href=""><img src="../assets/uploads/slider-07.jpeg"/></a><a data-slide-index="7" href=""><img src="../assets/uploads/slider-08.jpeg"/></a></div>
          </div>
          <div class="loader"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
        </div>
        <div style="display:none" class="photo-box">
          <div data-target="1" class="photo selected"><img src="../assets/uploads/test.jpg"/>
            <div class="photo-caption">
              <p>The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1</p>
            </div>
          </div>
          <div data-target="2" class="photo"><img src="../assets/uploads/Suzuki.jpg"/>
            <div class="photo-caption">
              <p>The picture caption 2</p>
            </div>
          </div>
          <div data-target="3" class="photo"><img src="../assets/uploads/squr_1.jpg"/>
            <div class="photo-caption">
              <p>The picture caption 3</p>
            </div>
          </div>
          <div data-target="4" class="photo"><img src="../assets/uploads/squr_2.jpg"/>
            <div class="photo-caption">
              <p>The picture caption 4</p>
            </div>
          </div>
          <div data-target="5" class="photo"><img src="../assets/uploads/test.jpg"/>
            <div class="photo-caption">
              <p>The picture caption 5</p>
            </div>
          </div>
          <div data-target="6" class="photo"><img src="../assets/uploads/test2.jpg"/>
            <div class="photo-caption">
              <p>The picture caption 6</p>
            </div>
          </div>
          <div class="thumb-slider">
            <ul class="slider-video">
              <li><a href="#" data-id="1"><img src="../assets/uploads/video-thumb-1.jpg"/></a></li>
              <li><a href="#" data-id="2"><img src="../assets/uploads/video-thumb-2.jpg"/></a></li>
              <li><a href="#" data-id="3"><img src="../assets/uploads/video-thumb-1.jpg"/></a></li>
              <li><a href="#" data-id="4"><img src="../assets/uploads/video-thumb-2.jpg"/></a></li>
              <li><a href="#" data-id="5"><img src="../assets/uploads/video-thumb-1.jpg"/></a></li>
              <li><a href="#" data-id="6"><img src="../assets/uploads/video-thumb-2.jpg"/></a></li>
            </ul>
          </div>
          <div class="closevideo"><i class="fa fa-times fa-lg"></i></div>
        </div>
      </div>
      <div class="a-block review">
        <h4>MEMBER REVIEWS<span><i class="fa fa-user"></i></span></h4>
        <div class="a-block-ct">
          <p class="t-c">There are currently no reviews/comments for this event. Be the first to add a review/comment , and let folks know what you think!</p>
        </div>
      </div>
      <div id="comment" class="a-block">
        <h4>COMMENTS<span><i class="fa fa-comment"></i></span></h4>
        <div class="a-block-ct">
          <div id="comments" class="comments-area">
            <h2 class="comments-title">4 comments<a href="#respond">Add yours<i class="fa fa-long-arrow-right"></i></a></h2>
            <ol class="commentlist">
              <li id="li-comment-20" class="comment even thread-even depth-1">
                <article id="comment-20" class="comment clearfix">
                  <div class="comment-avatar"><img alt="avatr" src="../assets/uploads/a1.jpg" class="avatar"/></div>
                  <div class="comment-ct">
                    <label class="author-n">Brenda Wilson</label><a href="#" class="comment-meta-time muted-small">
                      <time datetime="2013-12-08T02:49:18+00:00">18 January 2014</time></a>
                    <div class="comment-content comment">I would like to look at you boots but cant get prices</div>
                    <p class="t-l"><a href="#" class="comment-reply-link">Reply</a></p>
                  </div>
                </article>
                <ul class="children">
                  <li class="comment odd depth-2 clearfix">
                    <article id="comment-23" class="comment clearfix">
                      <div class="comment-avatar"><img alt="avatr" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=75" class="avatar"/></div>
                      <div class="comment-ct">
                        <label class="author-n">Brad TohnJon</label><a href="#" class="comment-meta-time muted-small">
                          <time datetime="2013-12-08T02:49:18+00:00">18 January 2014</time></a>
                        <div class="comment-content comment">One of the reason for abandoning the cart is simply because we can’t get a price until we reach the cart. It would happen a lot less if companies would put the price of an item from the start. I often don’t even get to the cart because they want me to register before seing the cart.</div>
                      </div>
                    </article>
                  </li>
                </ul>
              </li>
              <li id="li-comment-21" class="comment even thread-even depth-1">
                <article id="comment-20" class="comment clearfix">
                  <div class="comment-avatar"><img alt="avatr" src="../assets/uploads/a2.png" class="avatar"/></div>
                  <div class="comment-ct">
                    <label class="author-n">J-Sequeiros</label><a href="#" class="comment-meta-time muted-small">
                      <time datetime="2013-12-08T02:49:18+00:00">12 January 2014</time></a>
                    <div class="comment-content comment">Quisiera visitar el sitio en la versión en spanish, Quisiera visitar el sitio en la versión en spanish</div>
                    <p class="t-l"><a href="#" class="comment-reply-link">Reply</a></p>
                  </div>
                </article>
              </li>
              <li id="li-comment-25" class="comment even thread-even depth-1">
                <article id="comment-25" class="comment clearfix">
                  <div class="comment-avatar"><img alt="avatr" src="../assets/uploads/a3.jpg" class="avatar"/></div>
                  <div class="comment-ct">
                    <label class="author-n">Josephin Ala</label><a href="#" class="comment-meta-time muted-small">
                      <time datetime="2013-12-08T02:49:18+00:00">12 January 2014</time></a>
                    <div class="comment-content comment">I agree. The most common reason I abandon a cart is because it is the only way to see the full price incl. shipping and if the shipping is too much I’ll leave. I love stores that offer free shipping or flat rates that take the guess work out of shopping.</div>
                    <p class="t-l"><a href="#" class="comment-reply-link">Reply</a></p>
                  </div>
                </article>
              </li>
            </ol>
            <div id="respond" class="cm-frm">
              <h3>Leave a Comment</h3>
              <p>Your email address will not be published.</p>
              <form method="post" action="#" id="commentform" novalidate="" class="comment-form">
                <div class="clearfix">
                  <div class="inp-half">
                    <label for="comment_author">Your name<span class="required">*</span></label>
                    <input type="text" name="author" id="comment_author" tabindex="1" class="inp inp-txt"/>
                  </div>
                  <div class="inp-half">
                    <label for="email">Your email<span class="required">*</span></label>
                    <input type="text" name="email" id="email" tabindex="2" class="inp inp-txt"/>
                  </div>
                </div>
                <div class="clearfix">
                  <label for="comment">Comment<span class="required">*</span></label>
                  <textarea id="comment" rows="10" tabindex="3" class="inp inp-txt textarea"></textarea>
                </div>
                <p class="pre-code"><b>You may use these HTML tags and attributes:</b>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt;</p>
                <p class="t-l b-btn">
                  <input type="submit" name="submit" value="Post Comment" tabindex="4" class="btn btn-b"/>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</article>
