static-layout/v1/public/blocks/education-list.html

<div class="search-bkl search-bkl-paging">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
  <nav class="pg">
    <li class="txt"><span>Show:</span></li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="op" class="rad-pg"/><span class="pg"></span><span>One page</span>
      </div>
    </li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="pg" checked="checked" class="rad-pg"/><span class="pg"></span><span>Paginated</span>
      </div>
    </li>
  </nav>
</div>
<div class="el-blk">
  <nav class="type">
    <ul>
      <li><a href="education-thumb.html"><i class="fa fa-th fa-2x"></i></a></li>
      <li class="current"><a><i class="fa fa-bars fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<div class="search-bkl">
  <nav class="search-artist-list">
    <li>
      <div class="search-img"><a href="#"><img src="../assets/uploads/edu-img-list1.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="#"><span class="edu-tt">1440 Countdown: Make A Play in 24 Hours</span></a>
          <div class="s-desc edu-des">
            Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buil and use our historic Villa, buil and use our historic Villa, buil
            Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buil and use our historic Villa, buil and use our historic Villa, buil
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="#"><img src="../assets/uploads/edu-img-list2.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="#"><span class="edu-tt">12th Annual Arts in Your Classroom Conference</span></a>
          <div class="s-desc edu-des">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="#"><img src="../assets/uploads/edu-img-list1.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="#"><span class="edu-tt">1440 Countdown: Make A Play in 24 Hours</span></a>
          <div class="s-desc edu-des">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>

static-layout/v1/source/views/blocks/education-list.jade
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span One page
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span Paginated

.el-blk
    nav.type
        ul
            li
                a(href="education-thumb.html")
                    i(class="fa fa-th fa-2x")
            li.current
                a
                    i(class="fa fa-bars fa-2x")
.search-bkl
    nav(class="search-artist-list")
        li
            .search-img
                    a(href="#")
                        img(src="../assets/uploads/edu-img-list1.jpg")
            .info-content
                .search-info
                    a(href="#")
                        span.edu-tt 1440 Countdown: Make A Play in 24 Hours
                    .s-desc.edu-des
                        |Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buil and use our historic Villa, buil and use our historic Villa, buil
                        |Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buil and use our historic Villa, buil and use our historic Villa, buil
        li
            .search-img
                    a(href="#")
                        img(src="../assets/uploads/edu-img-list2.jpg")
            .info-content
                .search-info
                    a(href="#")
                        span.edu-tt 12th Annual Arts in Your Classroom Conference
                    .s-desc.edu-des
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
        li
            .search-img
                    a(href="#")
                        img(src="../assets/uploads/edu-img-list1.jpg")
            .info-content
                .search-info
                    a(href="#")
                        span.edu-tt 1440 Countdown: Make A Play in 24 Hours
                    .s-desc.edu-des
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
