static-layout/v1/public/blocks/feature-events-v1.html

<section class="featured-event-blk">
  <h3>Featured Events</h3>
  <div class="wrapper-featured clearfix">
    <div class="item-cat vertical">
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time time-full-layout">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">
            The New York Standands Quartet(NYSQ) was formed in 2006 by four master
            musicians was formed in 2006 by four master musicians
          </p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a>
            <label>&nbsp;</label><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">
            The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians
            was formed in 2006 by four master musicians was formed in 2006 by four master musicians
          </p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
    <div class="item-cat vertical">
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
    <div class="item-cat vertical">
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
    <div class="item-cat vertical">
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>

static-layout/v1/source/views/blocks/feature-events-v1.jade
section.featured-event-blk
    h3 Featured Events
    .wrapper-featured.clearfix
        .item-cat.vertical
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time.time-full-layout
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four master
                        | musicians was formed in 2006 by four master musicians
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        label &nbsp;
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians
                        | was formed in 2006 by four master musicians was formed in 2006 by four master musicians
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
        .item-cat.vertical
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
        .item-cat.vertical
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
        .item-cat.vertical
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
