static-layout/v1/source/views/blocks/head_search.jade
.top-blk.search-box(data-oct-title="Search")
    span.search-lbl SEARCH
    form(method="get", id="searchform", action="", class="form-search")
        input(type="text", class="inp inp-txt", placeholder="Search...")
        button(type="submit", class="btn btn-link") 
            i.fa.fa-search.fa-flip-horizontal.fa-lg

static-layout/v1/public/blocks/head_search.html

<div data-oct-title="Search" class="top-blk search-box"><span class="search-lbl">SEARCH</span>
  <form method="get" id="searchform" action="" class="form-search">
    <input type="text" placeholder="Search..." class="inp inp-txt"/>
    <button type="submit" class="btn btn-link"> <i class="fa fa-search fa-flip-horizontal fa-lg"></i></button>
  </form>
</div>
