static-layout/v1/source/views/blocks/head_social.jade
.top-blk.social-top
    a(href="#", target="_blank", class="lk") 
        i.fa.fa-linkedin.fa-lg
    a(href="#", target="_blank", class="go") 
        i.fa.fa-google-plus.fa-lg
    a(href="#", target="_blank", class="fb") 
        i.fa.fa-facebook.fa-lg
    a(href="#", target="_blank", class="tu") 
        i.fa.fa-twitter.fa-lg
    a(href="#", target="_blank", class="yt") 
        i.fa.fa-youtube.fa-lg

static-layout/v1/public/blocks/head_social.html

<div class="top-blk social-top"><a href="#" target="_blank" class="lk"> <i class="fa fa-linkedin fa-lg"></i></a><a href="#" target="_blank" class="go"> <i class="fa fa-google-plus fa-lg"></i></a><a href="#" target="_blank" class="fb"> <i class="fa fa-facebook fa-lg"></i></a><a href="#" target="_blank" class="tu"> <i class="fa fa-twitter fa-lg"></i></a><a href="#" target="_blank" class="yt"> <i class="fa fa-youtube fa-lg"></i></a></div>
