static-layout/v1/public/blocks/list_event-full.html

<div class="second-slider">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="left-event-time">
          <div class="month"><span>AUG</span><span>17</span></div>
          <div class="th">thru</div>
          <div class="date"><span>AUG</span><span>25</span></div>
        </div>
        <div style="background:url(../assets/uploads/sc-slider.jpg) center top; background-repeat: no-repeat; background-size:cover;" class="slider-pic"></div>
        <div class="slider-content">
          <h2 class="blog-ttl"><a href="#">Many artists active in the 19th century manipulated test test test test test</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s test test test test test test</a></p>
          <p class="date">Dec 26 - Dec 28, 2014</p>
          <p class="desc">Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of</p><a href="javascript:;" class="vmore">View more</a>
        </div>
        <div class="b-share-cat"><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a></div>
      </li>
      <li>
        <div class="left-event-time">
          <div class="month"><span>AUG</span><span>17</span></div>
        </div>
        <div style="background:url(../assets/uploads/Suzuki.jpg) center top; background-repeat: no-repeat; background-size:cover;" class="slider-pic"></div>
        <div class="slider-content">
          <h2 class="blog-ttl"><a href="#">Many artists active in the 19th century manipulated the test test test test test test test</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p class="date">Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014</p>
          <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of</p><a href="javascript:;" class="vmore">View more</a>
        </div>
      </li>
      <li>
        <div class="left-event-time">
          <div class="month"><span>AUG</span><span>17</span></div>
          <div class="th">thru</div>
          <div class="date"><span>AUG</span><span>25</span></div>
        </div>
        <div style="background:url(../assets/uploads/test-img.jpg) center top; ackground-repeat: no-repeat; background-size:cover;" class="slider-pic"></div>
        <div class="slider-content">
          <h2 class="blog-ttl"><a href="#">Many artists active in the 19th century manipulated the test test test test test test test</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p class="date">Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014</p>
          <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of</p><a href="javascript:;" class="vmore">View more</a>
        </div>
        <div class="b-share-cat"><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a></div>
      </li>
    </ul>
    <div class="silder-footer"></div>
  </div>
  <div class="loader"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
</div>
<div class="featured-event-blk">
  <h3>FEATURED EVENTS</h3>
  <div class="item-cat">
    <div class="tab-row"><span class="tab-tt">THEATRE</span></div>
    <div class="fea-evt-row">
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="left-event-time">
          <div class="month"><span>AUG</span><span>17-25</span></div>
        </div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="left-event-time">
          <div class="month"><span>AUG</span><span>17</span></div>
          <div class="th">thru</div>
          <div class="date"><span>AUG</span><span>17</span></div>
        </div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/artist-img3.jpg"/>
            <div class="event-time bottom-pos">
              <div class="md">JUN 30 - SEP 19</div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time top-pos">
              <div class="md">JUN 30 - SEP 19</div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="item-cat">
    <div class="tab-row"><span class="tab-tt">DANCE</span></div>
    <div class="fea-evt-row">
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time right-pos">
              <div class="month"><span>AUG</span><span>13-30</span></div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time right-pos">
              <div class="month"><span>AUG</span><span>13</span></div>
              <div class="th">thru</div>
              <div class="date"><span>SEP</span><span>30</span></div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time right-pos">
              <div class="month"><span>AUG</span><span>13</span></div>
              <div class="th">thru</div>
              <div class="date"><span>SEP</span><span>30</span></div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time right-pos">
              <div class="month"><span>AUG</span><span>13</span></div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="item-cat">
    <div class="tab-row"><span class="tab-tt">MUSIC</span></div>
    <div class="fea-evt-row">
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time bottom-pos">
              <div class="md">AUG 12 - 30</div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time bottom-pos">
              <div class="md">AUG 12 - 30</div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time bottom-pos">
              <div class="md">AUG 12 - 30</div>
            </div>
            <div class="event-time bottom-pos">
              <div class="md">AUG 12 - 30</div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time bottom-pos">
              <div class="md">AUG 12 - 30</div>
            </div>
            <div class="event-time bottom-pos">
              <div class="md">AUG 12 - 30</div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="item-cat">
    <div class="tab-row"><span class="tab-tt">VISUAL ART</span></div>
    <div class="fea-evt-row">
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time top-pos">
              <div class="md">AUG 12 - 30</div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time top-pos">
              <div class="md">AUG 12 - 30</div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time top-pos">
              <div class="md">AUG 12 - 30</div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
      <div class="fea-evt-item">
        <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
            <div class="event-time top-pos">
              <div class="md">AUG 12 - 30</div>
            </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
        <div class="dv-back">
          <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
          <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </div>
  </div>
</div>

static-layout/v1/source/views/blocks/list_event-full.jade
include second_slider.jade
.featured-event-blk
    h3 FEATURED EVENTS
    .item-cat
        .tab-row
            span(class="tab-tt") THEATRE
        .fea-evt-row
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .left-event-time
                    .month
                        span AUG
                        span 17-25
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .left-event-time
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 17
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/artist-img3.jpg")
                        .event-time.bottom-pos
                                .md
                                    |JUN 30 - SEP 19
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |JUN 30 - SEP 19
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
    .item-cat
        .tab-row
            span(class="tab-tt") DANCE
        .fea-evt-row
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.right-pos
                            .month
                                span AUG
                                span 13-30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.right-pos
                            .month
                                span AUG
                                span 13
                            .th thru
                            .date
                                span SEP
                                span 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.right-pos
                            .month
                                span AUG
                                span 13
                            .th thru
                            .date
                                span SEP
                                span 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.right-pos
                            .month
                                span AUG
                                span 13
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
    .item-cat
        .tab-row
            span(class="tab-tt") MUSIC
        .fea-evt-row
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
    .item-cat
        .tab-row
            span(class="tab-tt") VISUAL ART
        .fea-evt-row
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
