static-layout/v1/public/blocks/main_slider.html

<section class="section-slider">
  <div class="main-slider full">
    <div class="main-slider-overlay">
      <div style="display: none;" class="loading"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
    </div>
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="i-slider">
            <div class="blk-button-call">
              <div class="inner"><a href="#" class="btn btn-callToAction">call to action</a></div>
            </div>
            <div class="inner">
              <div class="i-caption">
                <h4><a href="#">Huey Lewis And The News</a></h4>
                <p><b>SEP 08</b><span> -&nbsp;</span><b>SEP 12</b> Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.</p>
              </div>
            </div><a href="#"><img src="../assets/uploads/main-slider-1.jpg" alt="slide 1"/></a>
          </div>
        </li>
        <li>
          <div class="i-slider">
            <div class="blk-button-call">
              <div class="inner"><a href="#" class="btn btn-callToAction">call to action</a></div>
            </div>
            <div class="inner">
              <div class="i-caption">
                <h4><a href="#">Family Tradition Always Worth</a></h4>
                <p><b>SEP 08</b><span> -&nbsp;</span><b>SEP 12</b> Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.</p>
              </div>
            </div><a href="#"><img src="../assets/uploads/main-slider-2.jpg" alt="slide 2"/></a>
          </div>
        </li>
        <li>
          <div class="i-slider">
            <div class="blk-button-call">
              <div class="inner"><a href="#" class="btn btn-callToAction">call to action</a></div>
            </div>
            <div class="inner">
              <div class="i-caption">
                <h4><a href="#">Essential Visual Feedback</a></h4>
                <p><b>SEP 08</b><span>-&nbsp;</span><b>SEP 12</b> Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.</p>
              </div>
            </div><a href="#"><img src="../assets/uploads/main-slider-3.jpg" alt="slide 3"/></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

static-layout/v1/source/views/blocks/main_slider.jade
section.section-slider
    .main-slider.full
        .main-slider-overlay
            .loading(style="display: none;")
                a
                    i(class="fa fa-spinner fa-spin fa-3x")
        .flexslider
            ul.slides
                li
                    .i-slider
                        .blk-button-call
                            .inner
                                a(href="#", class="btn btn-callToAction") call to action
                        .inner
                            .i-caption
                                h4
                                    a(href="#")
                                        |Huey Lewis And The News
                                p
                                    b SEP 08
                                    span  -&nbsp;
                                    b SEP 12
                                    |  Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.
                        a(href="#")
                            img(src="../assets/uploads/main-slider-1.jpg", alt="slide 1")
                li
                    .i-slider
                        .blk-button-call
                            .inner
                                a(href="#", class="btn btn-callToAction") call to action
                        .inner
                            .i-caption
                                h4
                                    a(href="#")
                                        |Family Tradition Always Worth
                                p
                                    b SEP 08
                                    span  -&nbsp;
                                    b SEP 12
                                    |  Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.
                        a(href="#")
                            img(src="../assets/uploads/main-slider-2.jpg", alt="slide 2")
                li
                    .i-slider
                        .blk-button-call
                            .inner
                                a(href="#", class="btn btn-callToAction") call to action
                        .inner
                            .i-caption
                                h4
                                    a(href="#")
                                        |Essential Visual Feedback
                                p
                                    b SEP 08
                                    span -&nbsp;
                                    b SEP 12
                                    |  Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.
                        a(href="#")
                            img(src="../assets/uploads/main-slider-3.jpg", alt="slide 3")
