static-layout/v1/public/blocks/mini_main_slider.html

<div class="inner">
  <div class="main-slider mini">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="i-slider">
            <div class="inner">
              <div class="i-caption">
                <h4><a href="#">Huey Lewis And The News</a></h4>
                <p><b>SEP 08</b><span>-</span><b>SEP 12</b>Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.</p>
              </div>
            </div><a href="#"><img src="../assets/uploads/dennis-nahat_2000x900-889x400.jpg" alt="slide 1"/></a>
          </div>
        </li>
        <li>
          <div class="i-slider">
            <div class="inner">
              <div class="i-caption">
                <h4><a href="#">Huey Lewis And The News some char</a></h4>
                <p><b>SEP 08</b><span>-</span><b>SEP 12</b>Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.</p>
              </div>
            </div><a href="#"><img src="../assets/uploads/3spotlight-647x300.png" alt="slide 2"/></a>
          </div>
        </li>
        <li>
          <div class="i-slider">
            <div class="inner">
              <div class="i-caption">
                <h4><a href="#">Huey Lewis And The News some char</a></h4>
                <p><b>SEP 08</b><span>-</span><b>SEP 12</b>Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.</p>
              </div>
            </div><a href="#"><img src="../assets/uploads/2spotlight-647x300.png" alt="slide 3"/></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="loading"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>

static-layout/v1/source/views/blocks/mini_main_slider.jade
.inner
    .main-slider.mini
        .flexslider
            ul.slides
                li
                    .i-slider
                        .inner
                            .i-caption
                                h4
                                    a(href="#")
                                        |Huey Lewis And The News
                                p
                                    b SEP 08
                                    span -
                                    b SEP 12
                                    | Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.
                        a(href="#")
                            img(src="../assets/uploads/dennis-nahat_2000x900-889x400.jpg", alt="slide 1")
                li
                    .i-slider
                        .inner
                            .i-caption
                                h4
                                    a(href="#")
                                        |Huey Lewis And The News some char
                                p
                                    b SEP 08
                                    span -
                                    b SEP 12
                                    | Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.
                        a(href="#")
                            img(src="../assets/uploads/3spotlight-647x300.png", alt="slide 2")
                li
                    .i-slider
                        .inner
                            .i-caption
                                h4
                                    a(href="#")
                                        |Huey Lewis And The News some char
                                p
                                    b SEP 08
                                    span -
                                    b SEP 12
                                    | Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.
                        a(href="#")
                            img(src="../assets/uploads/2spotlight-647x300.png", alt="slide 3")
.loading
    a
        <i class="fa fa-spinner fa-spin fa-3x"></i>
