static-layout/v1/public/blocks/nav-mobile1.html

<div class="main-menu tablet-show">
  <div class="inner">
    <nav class="mn-menu">
      <ul class="nav"> 
        <li><a href="#">HOME</a></li>
        <li data-lvl="level-1" class="has-child"><a href="#">Events</a>
          <ul class="sub-menu level-1">
            <li><a href="http://www.google.com">THEATRE</a></li>
            <li data-lvl="level-2" class="has-child"><a href="#">Music</a>
              <ul class="sub-menu level-2">
                <li><a href="#">Line 1</a></li>
                <li><a href="#">Line 2</a></li>
                <li><a href="#">Line 3</a></li>
                <li><a href="#">Line 3</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li data-lvl="level-1" class="has-child"><a href="#">DIRECTORIES</a>
          <ul class="sub-menu level-1">
            <li><a href="http://www.google.com">Organizations</a></li>
            <li><a href="http://www.google.com">Venues              </a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>

static-layout/v1/source/views/blocks/nav-mobile1.jade
.main-menu.tablet-show
    .inner
        nav.mn-menu
            ul.nav 
                li
                    a(href="#") HOME
                li.has-child(data-lvl="level-1")
                    a(href="#") Events
                    ul.sub-menu.level-1
                        li
                            a(href="http://www.google.com") THEATRE
                        li.has-child(data-lvl="level-2")
                            a(href="#") Music
                            ul.sub-menu.level-2
                                li
                                    a(href="#") Line 1
                                li
                                    a(href="#") Line 2
                                li
                                    a(href="#") Line 3
                                li
                                    a(href="#") Line 3
                li.has-child(data-lvl="level-1")
                    a(href="#") DIRECTORIES
                    ul.sub-menu.level-1
                        li
                            a(href="http://www.google.com") Organizations
                        li
                            a(href="http://www.google.com") Venues              
                
