static-layout/v1/public/blocks/nav-main.html

<div class="main-menu pc-show scroll-with-page">
  <div class="inner">
    <nav class="mn-menu">
      <ul class="nav">
        <li class="cur"><a href="#">Art</a></li>
        <li data-lvl="level-1" class="has-child"><a href="#">Classes</a>
          <ul class="sub-menu level-1">
            <li><a href="#">level 1</a></li>
            <li><a href="#">level 1b</a></li>
            <li><a href="#">level 1c</a></li>
            <li><a href="#">level 1d</a></li>
            <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
              <ul class="sub-menu level-2">
                <li><a href="#">level 2</a></li>
                <li><a href="#">level 2b</a></li>
                <li><a href="#">level 2c</a></li>
              </ul>
            </li>
            <li><a href="#">level 1f</a></li>
          </ul>
        </li>
        <li data-lvl="level-1" class="has-child"><a href="#">Family</a>
          <ul class="sub-menu level-1">
            <li><a href="#">level 1</a></li>
            <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
              <ul class="sub-menu level-2">
                <li><a href="#">level 2</a></li>
                <li><a href="#">level 2b</a></li>
                <li><a href="#">level 2c</a></li>
              </ul>
            </li>
            <li><a href="#">level 1f</a></li>
          </ul>
        </li>
        <li><a href="#">Festival</a></li>
        <li><a href="#">Food</a></li>
        <li data-lvl="level-1" class="has-child"><a href="#">Free</a>
          <ul class="sub-menu level-1">
            <li><a href="#">level 1</a></li>
            <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
              <ul class="sub-menu level-2">
                <li><a href="#">level 2</a></li>
                <li><a href="#">level 2b</a></li>
                <li><a href="#">level 2c</a></li>
              </ul>
            </li>
            <li><a href="#">level 1f</a></li>
          </ul>
        </li>
        <li><a href="#">Literature</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Screen</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">State</a></li>
        <li data-lvl="level-1" class="has-child"><a href="#">More</a>
          <ul class="sub-menu level-1">
            <li><a href="#">level 1</a></li>
            <li><a href="#">level 1b level 1b level 1b level 1b level 1b level 1b level 1b</a></li>
            <li><a href="#">level 1c</a></li>
            <li><a href="#">level 1d</a></li>
            <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
              <ul class="sub-menu level-2">
                <li><a href="#">level 2 level 2 level 2 level 2 level 2</a></li>
                <li><a href="#">level 2b</a></li>
                <li><a href="#">level 2c</a></li>
              </ul>
            </li>
            <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
              <ul class="sub-menu level-2">
                <li><a href="#">Test</a></li>
                <li><a href="#">Test</a></li>
                <li><a href="#">Test</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">More</a></li>
        <li></li>
        <li><a href="#">MoreMenu</a></li>
        <li></li>
      </ul>
    </nav>
  </div>
</div>

static-layout/v1/source/views/blocks/nav-main.jade
.main-menu.pc-show.scroll-with-page
    .inner
        nav.mn-menu
            ul.nav
                li.cur
                    a(href="#") Art
                li.has-child(data-lvl="level-1")
                    a(href="#") Classes
                    ul.sub-menu.level-1
                        li
                            a(href="#") level 1
                        li
                            a(href="#") level 1b
                        li
                            a(href="#") level 1c
                        li
                            a(href="#") level 1d
                        li.has-child(data-lvl="level-2")
                            a(href="#") level 1e
                            ul.sub-menu.level-2
                                li
                                    a(href="#") level 2
                                li
                                    a(href="#") level 2b
                                li
                                    a(href="#") level 2c
                        li
                            a(href="#") level 1f
                li.has-child(data-lvl="level-1")
                    a(href="#") Family
                    ul.sub-menu.level-1
                        li
                            a(href="#") level 1
                        li.has-child(data-lvl="level-2")
                            a(href="#") level 1e
                            ul.sub-menu.level-2
                                li
                                    a(href="#") level 2
                                li
                                    a(href="#") level 2b
                                li
                                    a(href="#") level 2c
                        li
                            a(href="#") level 1f
                li
                    a(href="#") Festival
                li
                    a(href="#") Food
                li.has-child(data-lvl="level-1")
                    a(href="#") Free
                    ul.sub-menu.level-1
                        li
                            a(href="#") level 1
                        li.has-child(data-lvl="level-2")
                            a(href="#") level 1e
                            ul.sub-menu.level-2
                                li
                                    a(href="#") level 2
                                li
                                    a(href="#") level 2b
                                li
                                    a(href="#") level 2c
                        li
                            a(href="#") level 1f
                li
                    a(href="#") Literature
                li
                    a(href="#") Music
                li
                    a(href="#") Screen
                li
                    a(href="#") Sports
                li
                    a(href="#") State
                li.has-child(data-lvl="level-1")
                    a(href="#") More
                    ul.sub-menu.level-1
                        li
                            a(href="#") level 1
                        li
                            a(href="#") level 1b level 1b level 1b level 1b level 1b level 1b level 1b
                        li
                            a(href="#") level 1c
                        li
                            a(href="#") level 1d
                        li.has-child(data-lvl="level-2")
                            a(href="#") level 1e
                            ul.sub-menu.level-2
                                li
                                    a(href="#") level 2 level 2 level 2 level 2 level 2
                                li
                                    a(href="#") level 2b
                                li
                                    a(href="#") level 2c
                        li.has-child(data-lvl="level-2")
                            a(href="#") level 1e
                            ul.sub-menu.level-2
                                li
                                    a(href="#") Test
                                li
                                    a(href="#") Test
                                li
                                    a(href="#") Test
                li
                    a(href="#") More
                li
                li
                    a(href="#") MoreMenu
                li
