static-layout/v1/public/blocks/org-list-search.html

<div class="search-tt">
  <p>Search "<a>a</a>" (04 result)</p>
</div>
<div class="search-bkl">
  <nav class="nav-tab">
    <ul class="tab-list-search">
      <li class="selected"><a href="#" data-id="1">ORGS<span class="cl">(4)</span></a></li>
    </ul>
  </nav>
  <div class="tab-bt"></div>
</div>
<div class="el-blk">
  <nav class="type">
    <ul>
      <li><a href="organization-thumb-search.html"><i class="fa fa-th fa-2x"></i></a></li>
      <li class="current"><a><i class="fa fa-bars fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<div class="search-bkl">
  <nav class="search-artist-list">
    <li>
      <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/grape-in-fog-venue_medium.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="org-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/cantor-300x300.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="org-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/Akoma2012-292x300.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="org-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>

static-layout/v1/source/views/blocks/org-list-search.jade
.search-tt
    p Search "
        a
          |a
        |" (04 result)
.search-bkl
    nav(class="nav-tab")
        ul(class="tab-list-search")
            li(class="selected")
                a(href="#", data-id="1") ORGS
                    span.cl (4)
    div(class="tab-bt")
.el-blk
    nav.type
        ul
            li
                a(href="organization-thumb-search.html")
                    i(class="fa fa-th fa-2x")
            li.current
                a
                    i(class="fa fa-bars fa-2x")
.search-bkl
    nav(class="search-artist-list")
        li
            .search-img
                    a(href="org-detail.html")
                        img(src="../assets/uploads/grape-in-fog-venue_medium.jpg")
            .info-content
                .search-info
                    a(href="org-detail.html")
                        span.ev-tt Pineapple Productions ChellyD
                    .career Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .search-img
                    a(href="org-detail.html")
                        img(src="../assets/uploads/cantor-300x300.jpg")
            .info-content
                .search-info
                    a(href="org-detail.html")
                        span.ev-tt Pineapple Productions ChellyD
                    .career Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .search-img
                    a(href="org-detail.html")
                        img(src="../assets/uploads/Akoma2012-292x300.jpg")
            .info-content
                .search-info
                    a(href="org-detail.html")
                        span.ev-tt Pineapple Productions ChellyD
                    .career Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
