static-layout/v1/public/blocks/search.html

<div class="search-tt">
  <p>Search "<a>events</a>" between<a>1/7/2015</a>and<a>1/7/2015</a><a>(04 results)</a></p>
</div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
  <nav class="pg">
    <li class="txt"><span>Show:</span></li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="pg" checked="checked" class="rad-pg"/><span class="pg"></span><span>Paginated</span>
      </div>
    </li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="op" class="rad-pg"/><span class="pg"></span><span>One page</span>
      </div>
    </li>
  </nav>
</div>
<div class="search-bkl">
  <nav class="nav-tab-search">
    <ul class="tab-list-search">
      <li class="selected"><a href="#" data-id="1">EVENTS<span class="cl">(4)</span></a></li>
      <li><a href="#" data-id="2">ORGS<span class="cl">(1)</span></a></li>
      <li><a href="#" data-id="3">VENUES<span>(0)</span></a></li>
      <li><a href="#" data-id="4">CLASSIFFIEDS<span>(0)</span></a></li>
      <li><a href="#" data-id="5">ARTIST<span>(0)</span></a></li>
    </ul>
  </nav>
  <div class="tab-bt"></div>
</div>
<div class="search-bkl">
  <nav class="search-list">
    <li>
      <div class="search-img"><a href="#"><img src="../assets/uploads/search-img.jpg"/></a></div>
      <div class="search-info"><a href="#"><span class="ev-tt">The Layered Surface on Clay with Meredith Host The Layered Surface on Clay with Meredith Host</span></a>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      </div>
      <div class="searchdate"><span class="sch-date">10 Dec 2014 - 20 Jan 2015</span></div>
      <div class="ico-date"><a><i class="fa fa-clock-o fa-2x"></i></a>
        <div class="show-date">
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="#"><img src="../assets/uploads/testw.jpg"/></a></div>
      <div class="search-info"><a href="#"><span class="ev-tt">The Layered Surface on Clay with Meredith Host</span></a>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a> and<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      </div>
      <div class="searchdate"><span class="sch-date">10 Dec 2014</span></div>
      <div class="ico-date"><a><i class="fa fa-clock-o fa-2x"></i></a>
        <div class="show-date">01/13/2015 at 7:00 pm (Tue)</div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="#"><img src="../assets/uploads/test.jpg"/></a></div>
      <div class="search-info"><a href="#"><span class="ev-tt">The Layered Surface on Clay with Meredith Host</span></a>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      </div>
      <div class="searchdate"><span class="sch-date">On going</span></div>
      <div class="ico-date"><a><i class="fa fa-clock-o fa-2x"></i></a>
        <div class="show-date">01/13/2015 at 7:00 pm (Tue)</div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="#"><img src="../assets/uploads/search-img.jpg"/></a></div>
      <div class="search-info"><a href="#"><span class="ev-tt">The Layered Surface on Clay with Meredith Host</span></a>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      </div>
      <div class="searchdate"><span class="sch-date">10 Dec 2014 - 20 Jan 2015</span></div>
      <div class="ico-date"><a><i class="fa fa-clock-o fa-2x"></i></a>
        <div class="show-date">01/13/2015 at 7:00 pm (Tue)</div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="#"><img src="../assets/uploads/search-img.jpg"/></a></div>
      <div class="search-info"><a href="#"><span class="ev-tt">Test</span></a>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      </div>
      <div class="searchdate"><span class="sch-date">10 Dec 2014 - 20 Jan 2015</span></div>
      <div class="ico-date"><a><i class="fa fa-clock-o fa-2x"></i></a>
        <div class="show-date">01/13/2015 at 7:00 pm (Tue)</div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>

static-layout/v1/source/views/blocks/search.jade
.search-tt
    p Search "
        a
            | events
        |" between
        a
            | 1/7/2015
        | and
        a
            | 1/7/2015
        a
            | (04 results)

.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span Paginated
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span One page
.search-bkl
    nav(class="nav-tab-search")
        ul(class="tab-list-search")
            li(class="selected")
                a(href="#", data-id="1") EVENTS
                    span.cl (4)
            li
                a(href="#", data-id="2") ORGS
                    span.cl (1)
            li
                a(href="#", data-id="3") VENUES
                    span (0)
            li
                a(href="#", data-id="4") CLASSIFFIEDS
                    span (0)
            li
                a(href="#", data-id="5") ARTIST
                    span (0)
    div(class="tab-bt")
.search-bkl
    nav(class="search-list")
        li
            .search-img
                a(href="#")
                    img(src="../assets/uploads/search-img.jpg")
            .search-info
                a(href="#")
                    span.ev-tt The Layered Surface on Clay with Meredith Host The Layered Surface on Clay with Meredith Host
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
            .searchdate
                span.sch-date 10 Dec 2014 - 20 Jan 2015
            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
                .show-date
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
        li
            .search-img
                a(href="#")
                    img(src="../assets/uploads/testw.jpg")
            .search-info
                a(href="#")
                    span.ev-tt The Layered Surface on Clay with Meredith Host
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                    |  and
                    a(href="#", target="_blank") Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
            .searchdate
                span.sch-date 10 Dec 2014
            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
                .show-date
                    | 01/13/2015 at 7:00 pm (Tue)
        li
            .search-img
                a(href="#")
                    img(src="../assets/uploads/test.jpg")
            .search-info
                a(href="#")
                    span.ev-tt The Layered Surface on Clay with Meredith Host
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
            .searchdate
                span.sch-date On going
            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
                .show-date
                    | 01/13/2015 at 7:00 pm (Tue)
        li
            .search-img
                a(href="#")
                    img(src="../assets/uploads/search-img.jpg")
            .search-info
                a(href="#")
                    span.ev-tt The Layered Surface on Clay with Meredith Host
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
            .searchdate
                span.sch-date 10 Dec 2014 - 20 Jan 2015
            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
                .show-date
                    | 01/13/2015 at 7:00 pm (Tue)
        li
            .search-img
                a(href="#")
                    img(src="../assets/uploads/search-img.jpg")
            .search-info
                a(href="#")
                    span.ev-tt Test
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
            .searchdate
                span.sch-date 10 Dec 2014 - 20 Jan 2015
            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
                .show-date
                    | 01/13/2015 at 7:00 pm (Tue)
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
