static-layout/v1/public/blocks/search-thumb.html

<div class="search-tt">
  <p>Search "<a>events</a>" between<a>1/7/2015</a>and<a>1/7/2015</a><a>(04 results)</a></p>
</div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
  <nav class="pg">
    <li class="txt"><span>Show:</span></li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="op" class="rad-pg"/><span class="pg"></span><span class="tx">One page</span>
      </div>
    </li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="pg" checked="checked" class="rad-pg"/><span class="pg"></span><span class="tx">Paginated</span>
      </div>
    </li>
  </nav>
</div>
<div class="search-bkl">
  <nav class="nav-tab-search">
    <ul class="tab-list-search">
      <li class="selected"><a href="#" data-id="1">EVENTS<span class="cl">(4)</span></a></li>
      <li><a href="#" data-id="2">ORGS<span class="cl">(1)</span></a></li>
      <li><a href="#" data-id="3">VENUES<span>(0)</span></a></li>
      <li><a href="#" data-id="4">CLASSIFFIEDS<span>(0)</span></a></li>
      <li><a href="#" data-id="5">ARTIST<span>(0)</span></a></li>
    </ul>
  </nav>
  <div class="tab-bt"></div>
</div>
<div class="search-bkl">
  <nav class="type">
    <ul>
      <li class="current"><a><i class="fa fa-th fa-2x"></i></a></li>
      <li><a href="event-search-list.html"><i class="fa fa-bars fa-2x"></i></a></li>
      <li><a href="event-search-map.html"><i class="fa fa-map-marker fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<div class="search-bkl">
  <nav class="search-list-thumb">
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/search-thumb.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik</span></a>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p><span class="sch-date">10 Dec 2014 - 20 Jan 201</span>
        </div>
      </div>
      <div class="ico-date"><a><i class="fa fa-clock-o fa-2x"></i></a></div>
      <div class="div-two">
        <div class="show-events">
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/search-thumb.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik</span></a>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p><span class="sch-date">10 Dec 2014 - 20 Jan 201</span>
        </div>
      </div>
      <div class="ico-date"><a><i class="fa fa-clock-o fa-2x"></i></a></div>
      <div class="div-two">
        <div class="show-events">
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/search-thumb.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik</span></a>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p><span class="sch-date">10 Dec 2014 - 20 Jan 201</span>
        </div>
      </div>
      <div class="ico-date"><a><i class="fa fa-clock-o fa-2x"></i></a></div>
      <div class="div-two">
        <div class="show-events">
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/search-thumb.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik</span></a>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p><span class="sch-date">10 Dec 2014 - 20 Jan 201</span>
        </div>
      </div>
      <div class="ico-date"><a><i class="fa fa-clock-o fa-2x"></i></a></div>
      <div class="div-two">
        <div class="show-events">
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/search-thumb.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik</span></a>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p><span class="sch-date">10 Dec 2014 - 20 Jan 201</span>
        </div>
      </div>
      <div class="ico-date"><a><i class="fa fa-clock-o fa-2x"></i></a></div>
      <div class="div-two">
        <div class="show-events">
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/search-thumb.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik</span></a>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p><span class="sch-date">10 Dec 2014 - 20 Jan 201</span>
        </div>
      </div>
      <div class="ico-date"><a><i class="fa fa-clock-o fa-2x"></i></a></div>
      <div class="div-two">
        <div class="show-events">
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
          <div class="item">01/13/2015 at 7:00 pm (Tue)</div>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>

static-layout/v1/source/views/blocks/search-thumb.jade
.search-tt
    p Search "
        a
            | events
        |" between
        a
            | 1/7/2015
        | and
        a
            | 1/7/2015
        a
            | (04 results)

.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span.tx One page
         li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span.tx Paginated
.search-bkl
    nav(class="nav-tab-search")
        ul(class="tab-list-search")
            li(class="selected")
                a(href="#", data-id="1") EVENTS
                    span.cl (4)
            li
                a(href="#", data-id="2") ORGS
                    span.cl (1)
            li
                a(href="#", data-id="3") VENUES
                    span (0)
            li
                a(href="#", data-id="4") CLASSIFFIEDS
                    span (0)
            li
                a(href="#", data-id="5") ARTIST
                    span (0)
    div(class="tab-bt")
.search-bkl
    nav.type
        ul
            li.current
                a
                    i(class="fa fa-th fa-2x")
            li
                a(href="event-search-list.html")
                    i(class="fa fa-bars fa-2x")
            li
                a(href="event-search-map.html")
                    i(class="fa fa-map-marker fa-2x")
.search-bkl
    nav(class="search-list-thumb")
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
