static-layout/v1/source/views/blocks/sidebar_newsletter.jade
.r-blk 
    h3.r-ttl
        i.fa.fa-envelope-o.fa-lg
        span E-Newsletter
    .r-blk-ct
        form(id="newsletter", class="newsletter-frm", method="#", action="#")
            input(type="text", placeholder="Your e-mail", class="ipt newsletter")
            button(type="button", class="btn btn-l" ) SUBSCRIBE NOW

static-layout/v1/public/blocks/sidebar_newsletter.html

<div class="r-blk"> 
  <h3 class="r-ttl"><i class="fa fa-envelope-o fa-lg"></i><span>E-Newsletter</span></h3>
  <div class="r-blk-ct">
    <form id="newsletter" method="#" action="#" class="newsletter-frm">
      <input type="text" placeholder="Your e-mail" class="ipt newsletter"/>
      <button type="button" class="btn btn-l">SUBSCRIBE NOW</button>
    </form>
  </div>
</div>
