static-layout/v1/source/views/blocks/sidebar_superoffer.jade
.r-blk.black
    h3.r-ttl
        span Special Offers
        a(href="#", class="btn btn-l fr") VIEW MORE
    .r-blk-ct
        .wg-slider
            .flexslider
                ul.slides
                    li
                        div
                            .wg-pic
                                img(src="../assets/uploads/r1.jpg", alt="r 1")
                            .wg-caption 40 shiny new icons in version 4.2
                    li
                        div
                            .wg-pic
                                img(src="../assets/uploads/r2.jpg", alt="r 1")
                            .wg-caption Need vectors or want to use on the desktop?
                    li
                        div
                            .wg-pic
                                img(src="../assets/uploads/r3.jpg", alt="r 1")
                            .wg-caption ou can edit this home page using our free, drag and drop Page Builder ...

static-layout/v1/public/blocks/sidebar_superoffer.html

<div class="r-blk black">
  <h3 class="r-ttl"><span>Special Offers</span><a href="#" class="btn btn-l fr">VIEW MORE</a></h3>
  <div class="r-blk-ct">
    <div class="wg-slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div>
              <div class="wg-pic"><img src="../assets/uploads/r1.jpg" alt="r 1"/></div>
              <div class="wg-caption">40 shiny new icons in version 4.2</div>
            </div>
          </li>
          <li>
            <div>
              <div class="wg-pic"><img src="../assets/uploads/r2.jpg" alt="r 1"/></div>
              <div class="wg-caption">Need vectors or want to use on the desktop?</div>
            </div>
          </li>
          <li>
            <div>
              <div class="wg-pic"><img src="../assets/uploads/r3.jpg" alt="r 1"/></div>
              <div class="wg-caption">ou can edit this home page using our free, drag and drop Page Builder ...</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
