static-layout/v1/source/views/blocks/sidebar_search-art.jade
.r-blk.r-search
    h3.r-ttl  
        i.fa.fa-search.fa-flip-horizontal.fa-lg      
        span Find A Public Art   

    form(method="", id="searchartist", action="", class="form-event")
        .artist-search
            .el-blk.full       
                input(type="text", placeholder="Search by keyword", class="inp inp-txt")
                .show-tip
                    |Search by keyword
            .el-blk
                .select-bkl
                    select
                        option(value="0") Public Art Name
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Public Art Type
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Medium
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Artist
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") City
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Zip
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Location
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Collection
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .b-btn.bt   
                button(type="button", class="btn btn-b search-btn") SEARCH
            .el-blk
                span.tt Search by alpha name:
                .character-board
                    a(href="#") A
                    a(href="#") B
                    a.select(href="#") C
                    a(href="#") D
                    a(href="#") E
                    a(href="#") F
                    a(href="#") G 
                    a(href="#") H 
                    a(href="#") I 
                    a(href="#") J
                    a(href="#") K
                    a(href="#") L 
                    a(href="#") M 
                    a(href="#") N 
                    a(href="#") O
                    a(href="#") P
                    a(href="#") Q
                    a(href="#") R
                    a(href="#") S
                    a(href="#") T
                    a(href="#") U
                    a(href="#") V
                    a(href="#") W
                    a(href="#") X
                    a(href="#") Y
                    a(href="#") Z
                    

static-layout/v1/public/blocks/sidebar_search-art.html

<div class="r-blk r-search">
  <h3 class="r-ttl"> <i class="fa fa-search fa-flip-horizontal fa-lg">     </i><span>Find A Public Art   </span></h3>
  <form method="" id="searchartist" action="" class="form-event">
    <div class="artist-search">
      <div class="el-blk full">      
        <input type="text" placeholder="Search by keyword" class="inp inp-txt"/>
        <div class="show-tip">Search by keyword</div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Public Art Name</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Public Art Type</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Medium</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Artist</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">City</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Zip</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Location</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Collection</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="b-btn bt">  
        <button type="button" class="btn btn-b search-btn">SEARCH</button>
      </div>
      <div class="el-blk"><span class="tt">Search by alpha name:</span>
        <div class="character-board"><a href="#">A</a><a href="#">B</a><a href="#" class="select">C</a><a href="#">D</a><a href="#">E</a><a href="#">F</a><a href="#">G </a><a href="#">H </a><a href="#">I </a><a href="#">J</a><a href="#">K</a><a href="#">L </a><a href="#">M </a><a href="#">N </a><a href="#">O</a><a href="#">P</a><a href="#">Q</a><a href="#">R</a><a href="#">S</a><a href="#">T</a><a href="#">U</a><a href="#">V</a><a href="#">W</a><a href="#">X</a><a href="#">Y</a><a href="#">Z</a></div>
      </div>
    </div>
  </form>
</div>
