static-layout/v1/source/views/blocks/sidebar_topten.jade
.r-blk
    h3.r-ttl.topten
        span TOP TEN
    .r-blk-ct.topten
        .topten-list
            .topten-item
                .pic
                    a(href="#")
                        img(src="../assets/uploads/the-marriage-of-figaro_osj-200x200.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                .info
                    h2
                        a(href="#") ARCHETYPE$ - New Installation
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    p  Nov 20 - Dec 13, 2015
            .topten-item
                .pic
                    a(href="#")
                        img(src="../assets/uploads/sgl.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                .info
                    h2
                        a(href="#")  Happy Birds Show Happy Birds Show Happy Birds Show
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s Live At Silo’s Live At Silo’s
                    p Dec 24, 2015
            .topten-item
                .pic
                    a(href="#")
                        img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                .info
                    h2
                        a(href="#") ARCHETYPE$ - New Installation
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    p  Nov 20 - Dec 13, 2015
            .topten-item
                .pic
                    a(href="#")
                        img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                .info
                    h2
                        a(href="#") ARCHETYPE$ - New Installation
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    p  Nov 20 - Dec 13, 2015
            .topten-item
                .pic
                    a(href="#")
                        img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                .info
                    h2
                        a(href="#") ARCHETYPE$ - New Installation
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    p  Nov 20 - Dec 13, 2015
            .topten-item
                .pic
                    a(href="#")
                        img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                .info
                    h2
                        a(href="#") ARCHETYPE$ - New Installation
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    p  Nov 20 - Dec 13, 2015
            .topten-item
                .pic
                    a(href="#")
                        img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                .info
                    h2
                        a(href="#") ARCHETYPE$ - New Installation
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    p  Nov 20 - Dec 13, 2015
            .topten-item
                .pic
                    a(href="#")
                        img(src="../assets/uploads/the-marriage-of-figaro_osj-200x200.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                .info
                    h2
                        a(href="#") ARCHETYPE$ - New Installation
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    p  Nov 20 - Dec 13, 2015
            .topten-item
                .pic
                    a(href="#")
                        img(src="../assets/uploads/the-marriage-of-figaro_osj-200x200.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                .info
                    h2
                        a(href="#") ARCHETYPE$ - New Installation
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    p  Nov 20 - Dec 13, 2015
            .topten-item
                .pic
                    a(href="#")
                        img(src="../assets/uploads/the-marriage-of-figaro_osj-200x200.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                .info
                    h2
                        a(href="#") ARCHETYPE$ - New Installation
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    p  Nov 20 - Dec 13, 2015

static-layout/v1/public/blocks/sidebar_topten.html

<div class="r-blk">
  <h3 class="r-ttl topten"><span>TOP TEN</span></h3>
  <div class="r-blk-ct topten">
    <div class="topten-list">
      <div class="topten-item">
        <div class="pic"><a href="#"><img src="../assets/uploads/the-marriage-of-figaro_osj-200x200.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
        <div class="info">
          <h2><a href="#">ARCHETYPE$ - New Installation</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p> Nov 20 - Dec 13, 2015</p>
        </div>
      </div>
      <div class="topten-item">
        <div class="pic"><a href="#"><img src="../assets/uploads/sgl.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
        <div class="info">
          <h2><a href="#"> Happy Birds Show Happy Birds Show Happy Birds Show</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s Live At Silo’s Live At Silo’s</a></p>
          <p>Dec 24, 2015</p>
        </div>
      </div>
      <div class="topten-item">
        <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
        <div class="info">
          <h2><a href="#">ARCHETYPE$ - New Installation</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p> Nov 20 - Dec 13, 2015</p>
        </div>
      </div>
      <div class="topten-item">
        <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
        <div class="info">
          <h2><a href="#">ARCHETYPE$ - New Installation</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p> Nov 20 - Dec 13, 2015</p>
        </div>
      </div>
      <div class="topten-item">
        <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
        <div class="info">
          <h2><a href="#">ARCHETYPE$ - New Installation</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p> Nov 20 - Dec 13, 2015</p>
        </div>
      </div>
      <div class="topten-item">
        <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
        <div class="info">
          <h2><a href="#">ARCHETYPE$ - New Installation</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p> Nov 20 - Dec 13, 2015</p>
        </div>
      </div>
      <div class="topten-item">
        <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
        <div class="info">
          <h2><a href="#">ARCHETYPE$ - New Installation</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p> Nov 20 - Dec 13, 2015</p>
        </div>
      </div>
      <div class="topten-item">
        <div class="pic"><a href="#"><img src="../assets/uploads/the-marriage-of-figaro_osj-200x200.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
        <div class="info">
          <h2><a href="#">ARCHETYPE$ - New Installation</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p> Nov 20 - Dec 13, 2015</p>
        </div>
      </div>
      <div class="topten-item">
        <div class="pic"><a href="#"><img src="../assets/uploads/the-marriage-of-figaro_osj-200x200.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
        <div class="info">
          <h2><a href="#">ARCHETYPE$ - New Installation</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p> Nov 20 - Dec 13, 2015</p>
        </div>
      </div>
      <div class="topten-item">
        <div class="pic"><a href="#"><img src="../assets/uploads/the-marriage-of-figaro_osj-200x200.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
        <div class="info">
          <h2><a href="#">ARCHETYPE$ - New Installation</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p> Nov 20 - Dec 13, 2015</p>
        </div>
      </div>
    </div>
  </div>
</div>
