static-layout/v1/source/views/blocks/sidebar_search-business-detail.jade
.r-blk.r-search
    h3.r-ttl  
        i.fa.fa-search.fa-flip-horizontal.fa-lg.d-black     
        span Find Organization    

    form(method="", id="search-organization", action="", class="form-event")
        .organization-search
            .el-blk.full       
                input(type="text", placeholder="Search by Cuisine", class="inp inp-txt")
                .show-tip
                    |Search by Cuisine
            .el-blk.full       
                input(type="text", placeholder="Search by Location", class="inp inp-txt")
                .show-tip
                    |Search by Location
            .el-blk.full       
                input(type="text", placeholder="Search by Region", class="inp inp-txt")
                .show-tip
                    |Search by Region
            .el-blk.full       
                input(type="text", placeholder="Search by Criteria", class="inp inp-txt")
                .show-tip
                    |Search by Criteria

            
                
                    

static-layout/v1/public/blocks/sidebar_search-business-detail.html

<div class="r-blk r-search">
  <h3 class="r-ttl"> <i class="fa fa-search fa-flip-horizontal fa-lg d-black">    </i><span>Find Organization    </span></h3>
  <form method="" id="search-organization" action="" class="form-event">
    <div class="organization-search">
      <div class="el-blk full">      
        <input type="text" placeholder="Search by Cuisine" class="inp inp-txt"/>
        <div class="show-tip">Search by Cuisine</div>
      </div>
      <div class="el-blk full">      
        <input type="text" placeholder="Search by Location" class="inp inp-txt"/>
        <div class="show-tip">Search by Location</div>
      </div>
      <div class="el-blk full">      
        <input type="text" placeholder="Search by Region" class="inp inp-txt"/>
        <div class="show-tip">Search by Region</div>
      </div>
      <div class="el-blk full">      
        <input type="text" placeholder="Search by Criteria" class="inp inp-txt"/>
        <div class="show-tip">Search by Criteria</div>
      </div>
    </div>
  </form>
</div>
