static-layout/v1/source/views/blocks/sidebar_datetime.jade
.r-blk
    h3.r-ttl.datetime 
        span Date and Times
    .r-blk-ct.datetime
        .dt-row
            .l-dt  
                .l-dt-tt
                    |Thursday, Sep 24
                .l-dt-txt
                    p 08:00 pm at ShanLin Liu
                    p Performance Center
            .r-dt
                a(class="btn btn-l dt", href="#") OFFICIAL WEBSITE
                a(class="btn btn-l dt", href="#") POSTIX DEAL
        .dt-row
            .l-dt  
                .l-dt-tt
                    |Thursday, Sep 24
                .l-dt-txt
                    p 08:00 pm at ShanLin Liu
                    p Performance Center
            .r-dt
                a(class="btn btn-l dt", href="#") OFFICIAL WEBSITE
                a(class="btn btn-l dt", href="#") POSTIX DEAL
        .dt-row
            .l-dt  
                .l-dt-tt
                    |Thursday, Sep 24
                .l-dt-txt
                    p 08:00 pm at ShanLin Liu
                    p Performance Center
            .r-dt
                a(class="btn btn-l dt", href="#") OFFICIAL WEBSITE
                a(class="btn btn-l dt", href="#") POSTIX DEAL
        .dt-row
            .l-dt  
                .l-dt-tt
                    |Thursday, Sep 24
                .l-dt-txt
                    p 08:00 pm at ShanLin Liu
                    p Performance Center
            .r-dt
                a(class="btn btn-l dt", href="#") OFFICIAL WEBSITE
                a(class="btn btn-l dt", href="#") POSTIX DEAL
        .load-mote-dt
            a(href="#") Load More....
           

static-layout/v1/public/blocks/sidebar_datetime.html

<div class="r-blk">
  <h3 class="r-ttl datetime"> <span>Date and Times</span></h3>
  <div class="r-blk-ct datetime">
    <div class="dt-row">
      <div class="l-dt"> 
        <div class="l-dt-tt">Thursday, Sep 24</div>
        <div class="l-dt-txt">
          <p>08:00 pm at ShanLin Liu</p>
          <p>Performance Center</p>
        </div>
      </div>
      <div class="r-dt"><a href="#" class="btn btn-l dt">OFFICIAL WEBSITE</a><a href="#" class="btn btn-l dt">POSTIX DEAL</a></div>
    </div>
    <div class="dt-row">
      <div class="l-dt"> 
        <div class="l-dt-tt">Thursday, Sep 24</div>
        <div class="l-dt-txt">
          <p>08:00 pm at ShanLin Liu</p>
          <p>Performance Center</p>
        </div>
      </div>
      <div class="r-dt"><a href="#" class="btn btn-l dt">OFFICIAL WEBSITE</a><a href="#" class="btn btn-l dt">POSTIX DEAL</a></div>
    </div>
    <div class="dt-row">
      <div class="l-dt"> 
        <div class="l-dt-tt">Thursday, Sep 24</div>
        <div class="l-dt-txt">
          <p>08:00 pm at ShanLin Liu</p>
          <p>Performance Center</p>
        </div>
      </div>
      <div class="r-dt"><a href="#" class="btn btn-l dt">OFFICIAL WEBSITE</a><a href="#" class="btn btn-l dt">POSTIX DEAL</a></div>
    </div>
    <div class="dt-row">
      <div class="l-dt"> 
        <div class="l-dt-tt">Thursday, Sep 24</div>
        <div class="l-dt-txt">
          <p>08:00 pm at ShanLin Liu</p>
          <p>Performance Center</p>
        </div>
      </div>
      <div class="r-dt"><a href="#" class="btn btn-l dt">OFFICIAL WEBSITE</a><a href="#" class="btn btn-l dt">POSTIX DEAL</a></div>
    </div>
    <div class="load-mote-dt"><a href="#">Load More....</a></div>
  </div>
</div>
