static-layout/v1/public/blocks/sidebar_search-venue-bk.html

<div class="r-blk r-search">
  <h3 class="r-ttl"><i class="fa fa-search fa-flip-horizontal fa-lg"></i><span>Find A Venue</span></h3>
  <form method="" id="search-venue" action="" class="form-event">
    <div class="organization-search">
      <div class="el-blk full">
        <input type="text" placeholder="Search by keyword" class="inp inp-txt"/>
        <div class="show-tip">Search by keyword</div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Venue</option>
            <option value="">A</option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Venue Type</option>
            <option value="">Amusement Park</option>
            <option value="">Arena/Stadium</option>
            <option value="">Bookstore</option>
            <option value="">Campground</option>
            <option value="">Community Center</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">City</option>
            <option value="">Alviso</option>
            <option value="">Atherton</option>
            <option value="">Belmont</option>
            <option value="">Brisbane</option>
            <option value="">Burlingame</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Zip</option>
            <option value="">A</option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <p>Accessibility Information</p>
        <div class="accessibilyty-icons-search"><span>
            <input type="checkbox"/><img src="../images/2x/img-1.png"/>
            <label>Assisted Listening System</label></span><span>
            <input type="checkbox"/><img src="../images/2x/img-12.png"/>
            <label>Braille</label></span><span>
            <input type="checkbox"/><img src="../images/2x/img-1.png"/>
            <label>Assisted Listening System</label></span><span>
            <input type="checkbox"/><img src="../images/2x/img-9.png"/>
            <label>Low Vision</label></span><span>
            <input type="checkbox"/><img src="../images/2x/img-8.png"/>
            <label>Sign Language</label></span></div>
      </div>
      <div class="b-btn bt"><a class="btn btn-b search-btn">SEARCH</a></div>
    </div>
  </form>
</div>

static-layout/v1/source/views/blocks/sidebar_search-venue-bk.jade
.r-blk.r-search
    h3.r-ttl
        i.fa.fa-search.fa-flip-horizontal.fa-lg
        span Find A Venue

    form(method="", id="search-venue", action="", class="form-event")
        .organization-search
            .el-blk.full
                input(type="text", placeholder="Search by keyword", class="inp inp-txt")
                .show-tip
                    |Search by keyword
            .el-blk
                .select-bkl
                    select
                        option(value="0") Venue
                        option(value="") A
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Venue Type
                        option(value="") Amusement Park
                        option(value="") Arena/Stadium
                        option(value="") Bookstore
                        option(value="") Campground
                        option(value="") Community Center
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") City
                        option(value="") Alviso
                        option(value="") Atherton
                        option(value="") Belmont
                        option(value="") Brisbane
                        option(value="") Burlingame
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Zip
                        option(value="") A
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                p Accessibility Information
                .accessibilyty-icons-search
                    span
                        input(type="checkbox")
                        img(src="../images/2x/img-1.png")
                        label Assisted Listening System
                    span
                        input(type="checkbox")
                        img(src="../images/2x/img-12.png")
                        label Braille
                    span
                        input(type="checkbox")
                        img(src="../images/2x/img-1.png")
                        label Assisted Listening System
                    span
                        input(type="checkbox")
                        img(src="../images/2x/img-9.png")
                        label Low Vision
                    span
                        input(type="checkbox")
                        img(src="../images/2x/img-8.png")
                        label Sign Language
            .b-btn.bt
                a(class="btn btn-b search-btn") SEARCH
