static-layout/v1/source/views/blocks/sidebar_search-education.jade
.r-blk.r-search
    h3.r-ttl  
        i.fa.fa-search.fa-flip-horizontal.fa-lg      
        span Find Art Education     

    form(method="", id="search-education", action="", class="form-event")
        .education-search
            .el-blk.full       
                input(type="text", placeholder="Search by keyword", class="inp inp-txt")
                .show-tip
                    |Search by keyword
            .el-blk
                .select-bkl
                    select
                        option(value="0") Program Provider
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Program Type
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Population Served
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Subject
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Artistic Discipline
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Cultural Origin
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                span.tt Date range
            .date-range-blk
                label
                    |Start day
                .date-picker
                    input(type="text", size="12", id="c-s", class="inp inp-txt caldr")

            .date-range-blk
                label
                    |End day
                .date-picker
                    input(type="text", size="12", id="c-e", class="inp inp-txt caldr")
            .el-blk.bill
                input(type="checkbox") 
                label(class="biling") Bilingual
            .el-blk.mrg
                a(href="#", class="qualification") 
                    |Qualifications
                ul.quali-list 
                    li 
                        input(type="checkbox") 
                        label(class="quali") Conducts educational programming for 2 or more years
                    li 
                        input(type="checkbox") 
                        label(class="quali") Performs criminal background checks on staff with youth contact
                    li 
                        input(type="checkbox") 
                        label(class="quali") Maintains general liability insurance
                    li 
                        input(type="checkbox") 
                        label(class="quali") Three letters of recommendation/references available
                    li 
                        input(type="checkbox") 
                        label(class="quali") Provides study guides for teachers and/or students
                    li 
                        input(type="checkbox") 
                        label(class="quali") Provides lesson plans
                    li 
                        input(type="checkbox") 
                        label(class="quali") Connects to State and/or Common Core Curriculum Standards
                    li 
                        input(type="checkbox") 
                        label(class="quali") Provides tools to assess student learning (workshops and residencies)
                    li 
                        input(type="checkbox") 
                        label(class="quali") Instructors receive annual professional development training
                    li 
                        input(type="checkbox") 
                        label(class="quali") Provides scholarship and reduced fees
            .b-btn.bt
                a(class="btn btn-b edu-btn") SEARCH
                a(class="btn btn-b edu-btn") RESET
                
                    

static-layout/v1/public/blocks/sidebar_search-education.html

<div class="r-blk r-search">
  <h3 class="r-ttl"> <i class="fa fa-search fa-flip-horizontal fa-lg">     </i><span>Find Art Education     </span></h3>
  <form method="" id="search-education" action="" class="form-event">
    <div class="education-search">
      <div class="el-blk full">      
        <input type="text" placeholder="Search by keyword" class="inp inp-txt"/>
        <div class="show-tip">Search by keyword</div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Program Provider</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Program Type</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Population Served</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Subject</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Artistic Discipline</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Cultural Origin</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk"><span class="tt">Date range</span></div>
      <div class="date-range-blk">
        <label>Start day</label>
        <div class="date-picker">
          <input type="text" size="12" id="c-s" class="inp inp-txt caldr"/>
        </div>
      </div>
      <div class="date-range-blk">
        <label>End day</label>
        <div class="date-picker">
          <input type="text" size="12" id="c-e" class="inp inp-txt caldr"/>
        </div>
      </div>
      <div class="el-blk bill">
        <input type="checkbox"/>
        <label class="biling">Bilingual</label>
      </div>
      <div class="el-blk mrg"><a href="#" class="qualification">
           
          Qualifications</a>
        <ul class="quali-list"> 
          <li> 
            <input type="checkbox"/>
            <label class="quali">Conducts educational programming for 2 or more years</label>
          </li>
          <li> 
            <input type="checkbox"/>
            <label class="quali">Performs criminal background checks on staff with youth contact</label>
          </li>
          <li> 
            <input type="checkbox"/>
            <label class="quali">Maintains general liability insurance</label>
          </li>
          <li> 
            <input type="checkbox"/>
            <label class="quali">Three letters of recommendation/references available</label>
          </li>
          <li> 
            <input type="checkbox"/>
            <label class="quali">Provides study guides for teachers and/or students</label>
          </li>
          <li> 
            <input type="checkbox"/>
            <label class="quali">Provides lesson plans</label>
          </li>
          <li> 
            <input type="checkbox"/>
            <label class="quali">Connects to State and/or Common Core Curriculum Standards</label>
          </li>
          <li> 
            <input type="checkbox"/>
            <label class="quali">Provides tools to assess student learning (workshops and residencies)</label>
          </li>
          <li> 
            <input type="checkbox"/>
            <label class="quali">Instructors receive annual professional development training</label>
          </li>
          <li> 
            <input type="checkbox"/>
            <label class="quali">Provides scholarship and reduced fees</label>
          </li>
        </ul>
      </div>
      <div class="b-btn bt"><a class="btn btn-b edu-btn">SEARCH</a><a class="btn btn-b edu-btn">RESET</a></div>
    </div>
  </form>
</div>
