static-layout/v1/public/blocks/sticky-social.html

<div class="sticky-social"><a><i class="fa fa-facebook-f"></i><span>Facebook</span></a><a><i class="fa fa-youtube-play"></i><span>Youtube</span></a><a><i class="fa fa-twitter"></i><span>Twitter</span></a><a><i class="fa fa-instagram"></i><span>Instagram</span></a></div>

static-layout/v1/source/views/blocks/sticky-social.jade
.sticky-social
    a
        i.fa.fa-facebook-f
        span Facebook
    a
        i.fa.fa-youtube-play
        span Youtube
    a
        i.fa.fa-twitter
        span Twitter
    a
        i.fa.fa-instagram
        span Instagram
