static-layout/v1/public/blocks/venue-thumb.html

<div class="search-bkl search-bkl-paging">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
  <nav class="pg">
    <li class="txt"><span>Show:</span></li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="op" class="rad-pg"/><span class="pg"></span><span class="tx">One page</span>
      </div>
    </li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="pg" checked="checked" class="rad-pg"/><span class="pg"></span><span class="tx">Paginated</span>
      </div>
    </li>
  </nav>
</div>
<div class="el-blk">
  <nav class="type">
    <ul>
      <li class="current"><a><i class="fa fa-th fa-2x"></i></a></li>
      <li><a href="organization-list.html"><i class="fa fa-bars fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<div class="search-bkl">
  <nav class="search-artist-thumb">
    <li>
      <div class="div-one">
        <div class="search-img"><a href="venue-detail.html"><img src="../assets/uploads/a-work-of-heart_medium.jpg"/></a></div>
        <div class="search-info"><a href="venue-detail.html"><span class="ev-tt">A Work of Heart Studio</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">A Work of Heart Studio is a workspace equipped with art and craft tools and supplies that empower creativity. Workshop time and classes are available for a variety of art and craft projects.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="venue-detail.html"><img src="../assets/uploads/placeholder.png"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="venue-detail.html"><img src="../assets/uploads/aegis_medium.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Aegis Gallery of Fine Art</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">Aegis Gallery of Fine Art is a cooperative gallery located in downtown Saratoga. Its artists participate in a wide variety of media, including watercolors, oil, pastels, paper, ceramics, prints, photography, jewelry, glass, sculpture and more</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="venue-detail.html"><img src="../assets/uploads/888_medium.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">888 Monkeys Summer Arts Program</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art. It is a nonprofit educational project of Fool Time Circus, an orga</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="venue-detail.html"><img src="../assets/uploads/1870_medium.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">1870 Art Center</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals, Foundation</div>
          <div class="s-desc">The 1870 Art Center is a cultural resource for the community. It provides working studios for professional artists and has an established art gallery</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="venue-detail.html"><img src="../assets/uploads/abhinaya-lg_medium.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals, Foundation</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>

static-layout/v1/source/views/blocks/venue-thumb.jade
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span.tx One page
         li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span.tx Paginated
.el-blk
    nav.type
        ul
            li.current
                a
                    i(class="fa fa-th fa-2x")
            li
                a(href="organization-list.html")
                    i(class="fa fa-bars fa-2x")
.search-bkl
    nav(class="search-artist-thumb")
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/a-work-of-heart_medium.jpg")
                .search-info
                    a(href="venue-detail.html")
                        span.ev-tt A Work of Heart Studio
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |A Work of Heart Studio is a workspace equipped with art and craft tools and supplies that empower creativity. Workshop time and classes are available for a variety of art and craft projects.
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/placeholder.png")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/aegis_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Aegis Gallery of Fine Art
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |Aegis Gallery of Fine Art is a cooperative gallery located in downtown Saratoga. Its artists participate in a wide variety of media, including watercolors, oil, pastels, paper, ceramics, prints, photography, jewelry, glass, sculpture and more
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/888_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt 888 Monkeys Summer Arts Program
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art. It is a nonprofit educational project of Fool Time Circus, an orga
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/1870_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt 1870 Art Center
                    .career
                        |Type: Commercial Business, Educational, Festivals, Foundation
                    .s-desc
                        |The 1870 Art Center is a cultural resource for the community. It provides working studios for professional artists and has an established art gallery
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/abhinaya-lg_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career
                        |Type: Commercial Business, Educational, Festivals, Foundation
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
