static-layout/v1/public/artist/artist-detail-print.html

<html>
  <head><title>Artsopolis - Artist Detail</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/print.css" type="text/css"/>
  </head>
  <body>
    <div class="top">
      <div class="top-head">
        <div class="logo"><a><img src="../assets/uploads/logo.png"/></a></div>
      </div>
    </div>
    <div class="wrapper">
      <div class="block-detail">
        <div class="pic art"><a><img src="../assets/uploads/artist-detail-img.jpg" alt="artist-detail-img"/></a></div>
        <div class="artist-des">
          <h2 class="tt">Susan Mincey</h2>
          <p>Visual Artist: Drawing Illustration - Visual Artist: Painting - Visual Artist: Print / Digital Art.</p>
          <p><i class="fa fa-envelope fa-lg"></i><span>susan@abc.com</span></p>
          <p><i class="fa fa-link fa-lg"></i><span>www.susan-abc.com</span></p>
          <p><i class="fa fa-phone fa-lg">&nbsp;</i><span>(84) 920256301</span></p>
          <p><i class="fa fa-fax fa-lg"></i><span>(84) 920256302</span></p>
          <p><i class="fa fa-map-marker fa-lg">&nbsp;&nbsp;</i><span>361 Ivy Stone Dr, Macon, GA 31220</span></p>
        </div>
        <div class="desc">
          <p>
            At Mincey’s Musicians Studio, I teach piano to ages 7 to adult and voice to ages 12 to
            adult. Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
            adult. Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
          </p>
          <p>
            At Mincey’s Musicians Studio, I teach piano to ages 7 to adult and voice to ages 12 to
            adult. Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
            adult. Learn to read music, use good technique and be proud of your results.
            Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at
            it, why is it so important to me.
          </p>
        </div>
      </div>
      <div class="h-line"></div>
      <div class="block-detail"><i class="fa fa-info-circle fa-2x"></i><span class="question">MORE ABOUT THE ARTIST</span>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
        <div class="el-blk">
          <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
          <p class="custom">
            Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
            Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>

static-layout/v1/source/views/artist/artist-detail-print.jade
html
  head
    <title>Artsopolis - Artist Detail</title>
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet',  type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", href="../css/print.css", type="text/css")


  body
    .top
        .top-head
            .logo
                a
                    img(src="../assets/uploads/logo.png")

    .wrapper
        .block-detail
          .pic.art
              a
                  img(src="../assets/uploads/artist-detail-img.jpg", alt="artist-detail-img")
          .artist-des
              h2.tt Susan Mincey
              p Visual Artist: Drawing Illustration - Visual Artist: Painting - Visual Artist: Print / Digital Art.
              p
                  i(class="fa fa-envelope fa-lg")
                  span susan@abc.com
              p
                  i(class="fa fa-link fa-lg")
                  span www.susan-abc.com
              p
                  i(class="fa fa-phone fa-lg")&nbsp;
                  span (84) 920256301
              p
                  i(class="fa fa-fax fa-lg")
                  span (84) 920256302
              p
                  i(class="fa fa-map-marker fa-lg")&nbsp;&nbsp;
                  span 361 Ivy Stone Dr, Macon, GA 31220
          .desc
              p At Mincey’s Musicians Studio, I teach piano to ages 7 to adult and voice to ages 12 to
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
              p At Mincey’s Musicians Studio, I teach piano to ages 7 to adult and voice to ages 12 to
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
        .h-line
        .block-detail
            i(class="fa fa-info-circle fa-2x")
            span.question MORE ABOUT THE ARTIST
            .el-blk
                p.custom
                    strong
                        |What did the Fellowship or Laureate mean to you at the time you received it?
                p.custom
                    |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                    |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
            .el-blk
                p.custom
                    strong
                        |What did the Fellowship or Laureate mean to you at the time you received it?
                p.custom
                    |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                    |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
            .el-blk
                p.custom
                    strong
                        |What did the Fellowship or Laureate mean to you at the time you received it?
                p.custom
                    |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                    |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
            .el-blk
                p.custom
                    strong
                        |What did the Fellowship or Laureate mean to you at the time you received it?
                p.custom
                    |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                    |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
